#modalLangCur {
    & .modal-title {
        margin: 0 0 40px;
        @include max-lg{
            margin: 0 0 30px;
        }
        
    }
    & .modal-body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 60px;
        @include max-lg{
            gap: 20px;
            margin-bottom: 40px;
        }
        
    }
    & .modal-footer {
        display: flex;
    }
}