<div class="container">
    <div class="row align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6">
            <h1 class="text-center text-lg-start">{{title}}</h1>
            <div class="manual-text mt-30 mt-max-md-20 text-center text-lg-start">
                {{text}}
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="{{image}}" alt="">
        </div>
    </div>
</div>