.modal {
    &-content {
        border-radius: 30px;
        padding: 35px 30px 30px;
    }
    &-header,
    &-footer,
    &-body {
        padding: 0;
        border: none;
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 25px;
    }
    &-steps {
        display: flex;
        align-items: center;
        &-item {
            font-family: "Gilroy";
            font-size: 20px;
            font-weight: 800;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: #fff;
            transition: 0.5s;
            position: relative;
            &:not(:last-child)::after {
                content: "";
                width: 17px;
                height: 1px;
                background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
                margin-left: 8px;
                position: absolute;
                right: -24px;
            }

            &:not(:first-child) {
                margin-left: 33px;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;

                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            &.active {
                width: 50px;
                height: 50px;
                transition: 0.5s;
                background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
                -webkit-background-clip: none;
                -webkit-text-fill-color: #fff;
                border: none;
            }
        }
    }
    &-title {
        margin: 25px 0;
        font-family: "Telegraf", sans-serif;
        font-size: 22px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
    }
    &__slider {
        position: relative;
    }
    & .search {
        border-radius: 15px;
        overflow: hidden;
        & input {
            border-radius: 15px;
            background: #f4f4f4;
            border: none;
            &::placeholder {
                font-family: 'Telegraf', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 16.96px;
                text-align: left;
                color: #ababab;
            }
        }
        & button {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 22px;
            margin: auto;
        }
    }
}
#modalAccDelete .reason-item:not(:first-child) {
    margin-top: 18px;
}
