.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // padding-left: 40px;
    gap: 40px;
    width: 100%;
    @include max-xxl{
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include max-lg{
        grid-template-columns: 1fr;
    }
    @include max-md{
        gap: 30px;
    }
    
    & .card {
        @include max-xxl{
            max-width: 100%;
        }
        
    }
}
.storeCatalog .card{
    padding: 30px;
}
.storeCatalog .card__info{
    margin: 40px 0;
}
.storeCatalog .card__title svg{
    width: 30px;
    height: 30px;
}