.accountTabs {
    border-radius: 40px;
    overflow: hidden;
    height: 100%;
    &__top {
        padding: 40px 45px;
        background: linear-gradient(94.97deg, #832fbd -23.4%, #d06852 103.02%);
        @include max-xl{
            padding: 25px;
        }
        @include max-md{
            padding: 40px 45px;
        }
        
    }
    &__avatar {
        width: 60px;
        height: 60px;
        position: relative;
        & button {
            position: absolute;
            right: 0;
            bottom: -10px;
        }
        & img {
            height: 100%;
        }
    }
    &__name {
        margin-bottom: 12px;
        color: #fff;
        font-family: "Telegraf", sans-serif;
        font-size: 22px;
        font-weight: 800;
        line-height: 28.6px;
    }
    &__bottom {
        background-color: #fafafa;
        padding: 40px 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 144px);
        @include max-xl{
            padding: 25px;
            height: calc(100% - 114px);
        }
        @include max-md{
            padding: 40px 45px;
            align-items: flex-start;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 35px;
        &-item {
            font-family: "Telegraf", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            opacity: 0.5;
            display: flex;
            align-items: center;
            gap: 12px;
            &.active {
                color: #000;
                opacity: 1;
            }
        }
    }
    & .logout {
        margin-top: 70px;
        font-family: "Telegraf", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        color: #000;
        @include max-md{
            margin: 70px auto 0;
        }
        
    }
}
