.whyUs {
    padding-top: 128px;
    display: flex;
    background: #f5f5f5;
    overflow: hidden;
    @include max-xl {
        padding-top: 60px;
    }
    &__img {
        width: calc(100% - 1045px);
        object-fit: cover;
        @include max-xxxl {
            width: calc(100% - 800px);
        }
        @include max-xlmidle {
            width: calc(100% - 500px);
        }
        @include max-lg {
            width: calc(100% - 400px);
        }
        @include max-md {
            display: none;
        }
    }
    &__info {
        padding-left: 67px;
        padding-right: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include max-lg {
            padding-left: 30px;
            padding-right: 20px;
        }
        @include max-md {
            padding-left: 0;
            padding-right: 0;
            background: #fff;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 176.9%;
        letter-spacing: 0.195em;
        color: #262525;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        @include max-xl {
            font-size: 24px;
        }
        @include max-lg {
            font-size: 22px;
        }
        @include max-md {
            display: none;
            font-weight: 700;
            font-size: 23px;
            line-height: 176.9%;
            text-align: center;
            letter-spacing: 0.095em;
            color: #353535;
        }
    }
    &__title::before {
        content: "";
        width: 140px;
        height: 8px;
        background: #ff9900;
        position: absolute;
        left: -160px;
        @include max-md {
            position: initial;
            width: 100%;
            height: 10px;
        }
    }
    &__title::after {
        content: "";
        width: calc(100% - 150px);
        height: 8px;
        background: #ff9900;
        position: absolute;
        right: -180px;
        @include max-lg {
            right: -110px;
        }
        @include max-md {
            position: initial;
            width: 100%;
            height: 10px;
        }
    }
    &__mobile {
        display: none;
        background-image: url(../images/whyUs_img.png);
        background-size: cover;
        background-position: center;
        padding: 65px 0 148px;
        @include max-md {
            display: block;
            width: 100vw;
        }
        & .whyUs__title {
            display: block;
            background: rgba(217, 217, 217, 0.83);
            width: fit-content;
            margin: auto;
            padding: 0 10px;
            font-weight: 700;
            font-size: 23px;
            line-height: 176.9%;
            text-align: center;
            letter-spacing: 0.095em;
            color: #353535;
            display: flex;
            position: relative;
        }
        & .whyUs__title::after {
            content: "";
            width: 100%;
            height: 10px;
            background: #02BB4C;
            display: block;
            position: absolute;
            right: -100%;
        }
        & .whyUs__title::before {
            content: "";
            width: 100%;
            height: 10px;
            background: #02BB4C;
            display: block;
            position: absolute;
            left: -100%;
        }
    }
    &__group {
        max-width: 873px;
        margin-top: 20px;
        @include max-md {
            margin-top: 0;
            padding: 32px 40px 39px 27px;
            width: 100vw;
            text-align: center;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 141%;
        color: #4d4c4c;
        @include max-xl {
            font-size: 20px;
        }
        @include max-lg {
            font-size: 18px;
        }
    }
    &__description {
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: #4d4c4c;
        @include max-xl {
            font-size: 18px;
        }
        @include max-lg {
            font-size: 16px;
        }
    }
    &__wrapper-slider {
        position: relative;
        & .owl-stage {
            display: flex;
        }
        & .owl-nav {
            position: absolute;
        }
        &-nav {
            width: 100vw;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 30px;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }
    }
}
