<div class="hidden accountOrderHistory" data-tab-target="orderHistory">
    <div class="table-wrapper ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Tariff name</th>
                    <th scope="col">Order amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
                <tr>
                    <td>3345678</td>
                    <td>21.05.24</td>
                    <td>Discover</td>
                    <td>7$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="orderHistory_empty d-flex flex-column align-items-center justify-content-center gap-30 h-100 hide">
        <svg width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M54.9694 64.9685L57.7039 62.234C59.2141 60.7237 59.2141 58.2752 57.7039 56.7651C56.1936 55.2547 53.7451 55.2547 52.2348 56.7651L49.5003 59.4996L46.7658 56.7651C45.2555 55.2547 42.8069 55.2547 41.2968 56.7651C39.7867 58.2754 39.7865 60.7239 41.2968 62.234L44.0313 64.9685L41.2968 67.703C39.7865 69.2134 39.7865 71.6619 41.2968 73.172C42.8071 74.6823 45.2556 74.6823 46.7658 73.172L49.5003 70.4375L52.2348 73.172C53.7451 74.6823 56.1936 74.6823 57.7039 73.172C59.2141 71.6617 59.2141 69.2132 57.7039 67.703L54.9694 64.9685Z" fill="url(#paint0_linear_817_8649)"/>
            <path d="M79.6641 15.4688H19.3359C17.2001 15.4688 15.4688 17.2001 15.4688 19.3359C15.4688 21.4718 17.2001 23.2031 19.3359 23.2031H79.6641C81.7999 23.2031 83.5312 21.4718 83.5312 19.3359C83.5312 17.2001 81.7999 15.4688 79.6641 15.4688Z" fill="url(#paint1_linear_817_8649)"/>
            <path d="M83.5312 0H15.4688C6.93928 0 0 6.93928 0 15.4688V53.3672C0 61.8967 6.93928 68.8359 15.4688 68.8359H22.7072C24.5895 81.937 35.8863 92.0391 49.5 92.0391C55.5715 92.0391 61.1826 90.0297 65.7033 86.6411L76.9296 97.8673C78.4397 99.3774 80.8886 99.3774 82.3987 97.8673C83.9091 96.357 83.9089 93.9085 82.3986 92.3983L71.1723 81.1721C74.5609 76.6513 76.5703 71.0404 76.5703 64.9688C76.5703 50.0422 64.4266 37.8984 49.5 37.8984C35.8863 37.8984 24.5895 48.0005 22.7072 61.1016H15.4688C11.204 61.1016 7.73438 57.6319 7.73438 53.3672V15.4688C7.73438 11.204 11.204 7.73438 15.4688 7.73438H83.5312C87.796 7.73438 91.2656 11.204 91.2656 15.4688V53.3672C91.2656 56.8641 88.9107 59.937 85.5389 60.8394C83.4758 61.3916 82.251 63.5118 82.8034 65.5749C83.3555 67.6381 85.4747 68.8634 87.539 68.3106C94.2871 66.5044 99 60.3594 99 53.3672V15.4688C99 6.93928 92.0607 0 83.5312 0ZM49.5 45.6328C60.162 45.6328 68.8359 54.3069 68.8359 64.9688C68.8359 75.6306 60.162 84.3047 49.5 84.3047C38.8382 84.3047 30.1641 75.6306 30.1641 64.9688C30.1641 54.3069 38.8382 45.6328 49.5 45.6328Z" fill="url(#paint2_linear_817_8649)"/>
            <defs>
            <linearGradient id="paint0_linear_817_8649" x1="46.7383" y1="50.0889" x2="52.0116" y2="73.1055" gradientUnits="userSpaceOnUse">
            <stop stop-color="#832FBD"/>
            <stop offset="1" stop-color="#D06852"/>
            </linearGradient>
            <linearGradient id="paint1_linear_817_8649" x1="39.4324" y1="13.1726" x2="39.6935" y2="23.2" gradientUnits="userSpaceOnUse">
            <stop stop-color="#832FBD"/>
            <stop offset="1" stop-color="#D06852"/>
            </linearGradient>
            <linearGradient id="paint2_linear_817_8649" x1="34.8563" y1="-29.3906" x2="62.8151" y2="92.6415" gradientUnits="userSpaceOnUse">
            <stop stop-color="#832FBD"/>
            <stop offset="1" stop-color="#D06852"/>
            </linearGradient>
            </defs>
        </svg>
        <div class="manual-title  mb-0">You don’t have any orders yet</div>
        <div class="manual-text">When you purchase an eSIM or top-up package, you’ll see your order details here.</div>
    </div>
</div>