<div class="accountReferal">
    <div class="accountReferal__banner">
        <div class="d-flex flex-column-reverse flex-lg-row d-lg-flex">
            <div class="col-12 col-lg-7 col-xl-9 d-flex align-items-center">
                <div class="accountReferal__banner-text mt-30 mx-auto mt-md-2">
                    <div class="accountReferal__banner-title text-center text-lg-start">Share Amazing eSIM Technology with Friends</div>
                    <div class="accountReferal__banner-desc manual-text text-center text-lg-start">Give USD $3.00. Get USD $3.00.</div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-5 col-xl-3 mx-auto">
                <img src="images/referal_img.png" alt="">
            </div>    
        </div>
    </div>
    <div class="d-flex flex-column-reverse flex-lg-row d-lg-flex gap-20">
        <div class="accountReferal__item accountReferal__share">
            <div class="manual-title">Share and earn</div>
            <div class="manual-text">Get USD $3.00 for every friend that signs up and completes a purchase. Your friends get USD $3.00 off their first purchase</div>
            <div class="accountReferal__code">
                <label>Your referral code</label>
                <div class="input-wrapper">
                    <input type="text" placeholder="A17TFG4567GHTU78">
                    <button type="button" class="">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.0383 8.10547H10.6613C9.63324 8.10547 8.7998 8.90302 8.7998 9.88685V17.903C8.7998 18.8869 9.63324 19.6844 10.6613 19.6844H19.0383C20.0664 19.6844 20.8998 18.8869 20.8998 17.903V9.88685C20.8998 8.90302 20.0664 8.10547 19.0383 8.10547Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.9925 13.8949H4.06173C3.56802 13.8949 3.09453 13.7072 2.74543 13.3731C2.39632 13.039 2.2002 12.5859 2.2002 12.1135V4.09729C2.2002 3.62484 2.39632 3.17174 2.74543 2.83767C3.09453 2.5036 3.56802 2.31592 4.06173 2.31592H12.4387C12.9324 2.31592 13.4059 2.5036 13.755 2.83767C14.1041 3.17174 14.3002 3.62484 14.3002 4.09729V4.98798" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="accountReferal__item accountReferal__howItWorks">
            <div class="manual-title">How it works</div>
            <div class="col-lg-10 mx-auto howDo__steps">
                <div class="howDo__steps-border"></div>
                <div class="howDo__steps-item">
                    <div class="howDo__steps-count">1</div>
                    <div class="howDo__steps-info">
                        <div class="manual-title">Choose your partnership</div>
                        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                </div>
                <div class="howDo__steps-item">
                    <div class="howDo__steps-count">2</div>
                    <div class="howDo__steps-info">
                        <div class="manual-title">Complete your application</div>
                        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                </div>
                <div class="howDo__steps-item">
                    <div class="howDo__steps-count">3</div>
                    <div class="howDo__steps-info">
                        <div class="manual-title">Get verified</div>
                        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>