<div class="section">
    <div class="container">
        <div class="accountDeleted d-flex flex-column align-items-center justify-content-center gap-30 h-100 ">
            <svg width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="49.5" cy="49.5" r="48.5" stroke="url(#paint0_linear_1085_7299)" stroke-width="2"/>
                <path d="M44.7145 57.048C43.543 58.2196 41.6435 58.2196 40.4719 57.048L34.5351 51.1112C33.645 50.2211 32.2019 50.2211 31.3118 51.1112C30.4217 52.0012 30.4217 53.4443 31.3118 54.3344L40.4719 63.4945C41.6435 64.6661 43.543 64.6661 44.7145 63.4945L68.6095 39.5995C69.4996 38.7095 69.4996 37.2664 68.6095 36.3763C67.7194 35.4862 66.2763 35.4862 65.3862 36.3763L44.7145 57.048Z" fill="url(#paint1_linear_1085_7299)"/>
                <defs>
                <linearGradient id="paint0_linear_1085_7299" x1="34.8563" y1="-29.3906" x2="62.8151" y2="92.6416" gradientUnits="userSpaceOnUse">
                <stop stop-color="#832FBD"/>
                <stop offset="1" stop-color="#D06852"/>
                </linearGradient>
                <linearGradient id="paint1_linear_1085_7299" x1="43.9669" y1="25.6057" x2="50.7426" y2="64.4486" gradientUnits="userSpaceOnUse">
                <stop stop-color="#832FBD"/>
                <stop offset="1" stop-color="#D06852"/>
                </linearGradient>
                </defs>
            </svg>
            <div class="manual-title  mb-0">Your account deletion request has been successfully processed</div>
            <div class="manual-text">When your account has been deleted, you will get a final email from us. *Note that logging back into your account within the next 7 days will cancel the account deletion process.</div>
            <button type="button" class="btn btn-dark">Ok</button>
        </div>
    </div>
</div>