<div class="accountTabs">
    <div class="accountTabs__top">
        <div class="d-flex align-items-center gap-20">
            <div class="pos-r accountTabs__avatar">
                <img src="images/account_avatar.png" alt="" class="rounded-circle">
                <button type="button" class="btn p-0 pos-a w-auto">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="11" r="11" fill="white"/>
                        <path d="M15.2969 15.2969H6.70312C6.4752 15.2969 6.25662 15.2063 6.09546 15.0452C5.93429 14.884 5.84375 14.6654 5.84375 14.4375V8.42188C5.84375 8.19395 5.93429 7.97537 6.09546 7.81421C6.25662 7.65304 6.4752 7.5625 6.70312 7.5625H8.42156L9.28094 6.27344H12.7184L13.5778 7.5625H15.2969C15.5248 7.5625 15.7434 7.65304 15.9045 7.81421C16.0657 7.97537 16.1562 8.19395 16.1562 8.42188V14.4375C16.1562 14.6654 16.0657 14.884 15.9045 15.0452C15.7434 15.2063 15.5248 15.2969 15.2969 15.2969Z" stroke="url(#paint0_linear_1603_7450)" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11 13.1484C12.0679 13.1484 12.9336 12.2827 12.9336 11.2148C12.9336 10.1469 12.0679 9.28125 11 9.28125C9.93211 9.28125 9.06641 10.1469 9.06641 11.2148C9.06641 12.2827 9.93211 13.1484 11 13.1484Z" stroke="url(#paint1_linear_1603_7450)" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_1603_7450" x1="9.47461" y1="3.5946" x2="11.7308" y2="14.8489" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#832FBD"/>
                        <stop offset="1" stop-color="#D06852"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_1603_7450" x1="10.428" y1="8.13318" x2="11.5201" y2="12.9001" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#832FBD"/>
                        <stop offset="1" stop-color="#D06852"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </button>
            </div>
            <div class="d-flex flex-column">
                <div class="accountTabs__name">
                    Jane Doe
                </div>
                <div class="text">
                    Traveler
                </div>
            </div>
        </div>
    </div>
    <div class="accountTabs__bottom">
        <div class="accountTabs__menu">
            <a href="#" class="accountTabs__menu-item active" data-tab="info">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.1932 3.80746C17.1164 -1.26887 8.88492 -1.26944 3.80746 3.80746C-1.26944 8.88435 -1.26887 17.1158 3.80746 22.1932C8.88435 27.269 17.1158 27.2696 22.1932 22.1932C27.2696 17.1158 27.269 8.88492 22.1932 3.80746ZM14.6955 18.6526C14.6955 19.5892 13.9364 20.3483 12.9998 20.3483C12.0632 20.3483 11.3041 19.5892 11.3041 18.6526V11.8699C11.3041 10.9333 12.0632 10.1742 12.9998 10.1742C13.9364 10.1742 14.6955 10.9333 14.6955 11.8699V18.6526ZM12.9698 8.9714C11.9931 8.9714 11.342 8.27955 11.3623 7.42549C11.342 6.53017 11.9931 5.85924 12.9896 5.85924C13.9867 5.85924 14.6175 6.53073 14.6384 7.42549C14.6378 8.27955 13.9872 8.9714 12.9698 8.9714Z" fill="url(#paint0_linear_1635_7441)"/>
                    <defs>
                    <linearGradient id="paint0_linear_1635_7441" x1="9.15427" y1="-7.71883" x2="16.4971" y2="24.3304" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#832FBD"/>
                    <stop offset="1" stop-color="#D06852"/>
                    </linearGradient>
                    </defs>
                </svg>
                Account information
            </a>
            <a href="#" class="accountTabs__menu-item" data-tab="esims">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="13" cy="13" r="13" fill="url(#paint0_linear_1635_5000)"/>
                    <path d="M14.7813 7.30005H9.55625C9.1525 7.30005 8.84375 7.6088 8.84375 8.01255V17.9875C8.84375 18.3913 9.1525 18.7 9.55625 18.7H16.4438C16.8475 18.7 17.1562 18.3913 17.1562 17.9875V9.67505C16.23 8.7488 15.7075 8.2263 14.7813 7.30005ZM10.3637 12.2163C10.3637 11.955 10.5775 11.7413 10.8387 11.7413H11.7412V13.9313H10.3637V12.2163ZM13.5462 17.75H10.8387C10.5775 17.75 10.3637 17.5363 10.3637 17.275V16.1813H13.5225V17.75H13.5462ZM13.5462 15.7063H10.3637V14.3825H11.9788C12.1213 14.3825 12.2162 14.2875 12.2162 14.145V11.7175H13.5463C13.5463 11.7175 13.5463 15.7063 13.5462 15.7063ZM15.6363 17.275C15.6363 17.5363 15.4225 17.75 15.1613 17.75H14.0212V15.2213H15.6363V17.275ZM15.6363 14.7463H14.0212V13.5188H15.6363V14.7463ZM15.6363 13.0438H14.0212V11.7175H15.1613C15.4225 11.7175 15.6363 11.9313 15.6363 12.1925V13.0438Z" fill="white"/>
                    <defs>
                    <linearGradient id="paint0_linear_1635_5000" x1="9.15417" y1="-7.71875" x2="16.4969" y2="24.3301" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#832FBD"/>
                    <stop offset="1" stop-color="#D06852"/>
                    </linearGradient>
                    </defs>
                </svg>
                My eSims
            </a>
            <a href="#" class="accountTabs__menu-item" data-tab="orderHistory">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="13" cy="13" r="13" fill="url(#paint0_linear_1_9)"/>
                    <g clip-path="url(#clip0_1_9)">
                    <path d="M13 7.5C11.9122 7.5 10.8488 7.82257 9.94437 8.42692C9.0399 9.03126 8.33495 9.89025 7.91867 10.8952C7.50238 11.9002 7.39346 13.0061 7.60568 14.073C7.8179 15.1399 8.34173 16.1199 9.11092 16.8891C9.8801 17.6583 10.8601 18.1821 11.927 18.3943C12.9939 18.6065 14.0998 18.4976 15.1048 18.0813C16.1098 17.6651 16.9687 16.9601 17.5731 16.0556C18.1774 15.1512 18.5 14.0878 18.5 13C18.5 11.5413 17.9205 10.1424 16.8891 9.11091C15.8576 8.07946 14.4587 7.5 13 7.5ZM14.8535 14.8535C14.7597 14.9472 14.6326 14.9999 14.5 14.9999C14.3674 14.9999 14.2403 14.9472 14.1465 14.8535L12.6465 13.3535C12.5527 13.2598 12.5 13.1326 12.5 13V10C12.5 9.86739 12.5527 9.74021 12.6464 9.64645C12.7402 9.55268 12.8674 9.5 13 9.5C13.1326 9.5 13.2598 9.55268 13.3536 9.64645C13.4473 9.74021 13.5 9.86739 13.5 10V12.793L14.8535 14.1465C14.9472 14.2403 14.9999 14.3674 14.9999 14.5C14.9999 14.6326 14.9472 14.7597 14.8535 14.8535Z" fill="#FAFAFA"/>
                    </g>
                    <defs>
                    <linearGradient id="paint0_linear_1_9" x1="9.15417" y1="-7.71875" x2="16.4969" y2="24.3301" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#832FBD"/>
                    <stop offset="1" stop-color="#D06852"/>
                    </linearGradient>
                    <clipPath id="clip0_1_9">
                    <rect width="12" height="12" fill="white" transform="translate(7 7)"/>
                    </clipPath>
                    </defs>
                </svg>
                Order history
            </a>
            <a href="#" class="accountTabs__menu-item" data-tab="miles">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="13" cy="13" r="13" fill="url(#paint0_linear_1_15)"/>
                    <g clip-path="url(#clip0_1_15)">
                    <path d="M18.2174 9.33733H17.3439C17.4591 9.15498 17.5352 8.9503 17.5568 8.73384C17.6261 8.04203 17.2618 7.42187 16.6415 7.14693C16.0713 6.8942 15.4306 6.99752 14.9693 7.41597L13.8663 8.41558C13.6515 8.18064 13.3427 8.03298 13 8.03298C12.6567 8.03298 12.3474 8.18111 12.1326 8.41677L11.0282 7.41585C10.5661 6.9974 9.92561 6.89448 9.35573 7.14707C8.73562 7.42204 8.37121 8.04241 8.44068 8.73419C8.46241 8.95049 8.53839 9.15508 8.65359 9.33733H7.7826C7.35037 9.33733 7 9.68772 7 10.1199V11.2938C7 11.5099 7.1752 11.6852 7.39131 11.6852H18.6087C18.8248 11.6852 19 11.51 19 11.2938V10.1199C19 9.68772 18.6496 9.33733 18.2174 9.33733ZM11.8261 9.2069V9.33733H9.98523C9.49886 9.33733 9.11608 8.88391 9.23755 8.37752C9.29106 8.15451 9.45203 7.96441 9.66023 7.86817C9.94612 7.73603 10.2628 7.77845 10.5029 7.99579L11.8264 9.19537C11.8263 9.19923 11.8261 9.20303 11.8261 9.2069ZM16.7803 8.62994C16.7512 9.03665 16.3838 9.33737 15.976 9.33737H14.1739V9.20695C14.1739 9.20233 14.1736 9.19776 14.1736 9.19314C14.4734 8.92136 15.1238 8.33186 15.4766 8.0121C15.6771 7.83039 15.9576 7.74557 16.2169 7.82291C16.589 7.93391 16.8075 8.25037 16.7803 8.62994Z" fill="#FAFAFA"/>
                    <path d="M7.7826 12.4678V18.2069C7.7826 18.6391 8.13297 18.9895 8.5652 18.9895H12.2174V12.4678H7.7826Z" fill="#FAFAFA"/>
                    <path d="M13.7826 12.4678V18.9895H17.4348C17.867 18.9895 18.2174 18.6391 18.2174 18.2069V12.4678H13.7826Z" fill="#FAFAFA"/>
                    </g>
                    <defs>
                    <linearGradient id="paint0_linear_1_15" x1="9.15417" y1="-7.71875" x2="16.4969" y2="24.3301" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#832FBD"/>
                    <stop offset="1" stop-color="#D06852"/>
                    </linearGradient>
                    <clipPath id="clip0_1_15">
                    <rect width="12" height="12" fill="white" transform="translate(7 7)"/>
                    </clipPath>
                    </defs>
                </svg>
                Nova miles
            </a>
            <a href="#" class="accountTabs__menu-item" data-tab="referral">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="13" cy="13" r="13" fill="url(#paint0_linear_1_20)"/>
                    <g clip-path="url(#clip0_1_20)">
                    <path d="M11.5 9C11.5 7.8955 13.179 7 15.25 7C17.321 7 19 7.8955 19 9C19 10.1045 17.321 11 15.25 11C13.179 11 11.5 10.1045 11.5 9ZM15.25 13C17.321 13 19 12.1045 19 11V10C19 11.1045 17.321 12 15.25 12C13.179 12 11.5 11.1045 11.5 10V11C11.5 12.1045 13.179 13 15.25 13ZM10 13C8.343 13 7 14.343 7 16C7 17.657 8.343 19 10 19C11.657 19 13 17.657 13 16C13 14.343 11.657 13 10 13ZM10.5 16V17.5H9.5V16H8.273L9.6165 14.6565C9.825 14.448 10.163 14.448 10.3715 14.6565L11.7155 16H10.5ZM15.25 18.0255C14.649 18.0255 14.081 17.95 13.5775 17.816C13.4285 18.1125 13.2445 18.3885 13.0295 18.6375C13.651 18.8815 14.419 19.026 15.25 19.026C17.321 19.026 19 18.1305 19 17.026V16.026C19 17.1305 17.321 18.0255 15.25 18.0255ZM15.25 14.0255C14.524 14.0255 13.8465 13.9155 13.2725 13.725C13.5175 14.0725 13.708 14.4605 13.8325 14.8775C14.27 14.973 14.7485 15.0255 15.25 15.0255C17.321 15.0255 19 14.13 19 13.0255V12.0255C19 13.13 17.321 14.0255 15.25 14.0255ZM15.25 16.0255C14.811 16.0255 14.39 15.985 13.9985 15.911C13.9995 15.949 14 15.987 14 16.0255C14 16.3235 13.967 16.6135 13.9055 16.893C14.323 16.9785 14.776 17.0255 15.25 17.0255C17.321 17.0255 19 16.13 19 15.0255V14.0255C19 15.13 17.321 16.0255 15.25 16.0255Z" fill="white"/>
                    </g>
                    <defs>
                    <linearGradient id="paint0_linear_1_20" x1="9.15417" y1="-7.71875" x2="16.4969" y2="24.3301" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#832FBD"/>
                    <stop offset="1" stop-color="#D06852"/>
                    </linearGradient>
                    <clipPath id="clip0_1_20">
                    <rect width="12" height="12" fill="white" transform="translate(7 7)"/>
                    </clipPath>
                    </defs>
                </svg>
                Referral
            </a>
        </div>
        <a href="#" class="logout">Logout</a>
    </div>
</div>