<div class="accountTabs">
    <div class="accountTabs__top">
        <div class="d-flex align-items-center gap-20">
            <div class="pos-r accountTabs__avatar">
                <img src="images/account_avatar.png" alt="" class="rounded-circle">
                <button type="button" class="btn p-0 pos-a w-auto">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="11" r="11" fill="white"/>
                        <path d="M15.2969 15.2969H6.70312C6.4752 15.2969 6.25662 15.2063 6.09546 15.0452C5.93429 14.884 5.84375 14.6654 5.84375 14.4375V8.42188C5.84375 8.19395 5.93429 7.97537 6.09546 7.81421C6.25662 7.65304 6.4752 7.5625 6.70312 7.5625H8.42156L9.28094 6.27344H12.7184L13.5778 7.5625H15.2969C15.5248 7.5625 15.7434 7.65304 15.9045 7.81421C16.0657 7.97537 16.1562 8.19395 16.1562 8.42188V14.4375C16.1562 14.6654 16.0657 14.884 15.9045 15.0452C15.7434 15.2063 15.5248 15.2969 15.2969 15.2969Z" stroke="url(#paint0_linear_1603_7450)" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11 13.1484C12.0679 13.1484 12.9336 12.2827 12.9336 11.2148C12.9336 10.1469 12.0679 9.28125 11 9.28125C9.93211 9.28125 9.06641 10.1469 9.06641 11.2148C9.06641 12.2827 9.93211 13.1484 11 13.1484Z" stroke="url(#paint1_linear_1603_7450)" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_1603_7450" x1="9.47461" y1="3.5946" x2="11.7308" y2="14.8489" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#832FBD"/>
                        <stop offset="1" stop-color="#D06852"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_1603_7450" x1="10.428" y1="8.13318" x2="11.5201" y2="12.9001" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#832FBD"/>
                        <stop offset="1" stop-color="#D06852"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </button>
            </div>
            <div class="d-flex flex-column">
                <div class="accountTabs__name">
                    Jane Doe
                </div>
                <div class="text">
                    Traveler
                </div>
            </div>
        </div>
    </div>
    <div class="accountTabs__menu">
        
    </div>
</div>