<div class="section pt-0">
    <div class="container">
        <div class="d-flex flex-column flex-md-row gap-40 gap-max-xl-20 gap-max-md-40">
            <div class="">
                <div id="column-left">
                    {{> blocks / accountTabs}}
                </div>
            </div>
            <div class="w-100">
                {{> blocks / accountInformation}}
                {{> blocks / modalAccDelete}}
                {{> blocks / accountEsims}}
                {{> blocks / accountOrderHistory}}
                {{> blocks / accountReferal}}
            </div>
        </div>
    </div>
</div>