<section class="section advantages">
    <div class="container">
        <div class="d-flex justify-content-between gap-60 gap-max-lg-30 gap-max-xl-40 flex-wrap flex-lg-nowrap">
            <div class="w-100">
                <div class="advantages__title">Lorem ipsum dolor sit amet</div>
                <div class="manual-text mt-20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. 
                    <br>
                    <br>
                    Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. 
                </div>
                <button type="button" class="btn btn-dark d-flex align-items-center gap-10">
                    Join us 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.632137 13.3655C0.405862 13.1393 0.292725 12.8847 0.292725 12.6019C0.292725 12.319 0.405862 12.0645 0.632136 11.8382L9.88109 2.58923L3.00802 2.50437C2.61204 2.56094 2.30091 2.39124 2.07464 1.99526C1.84836 1.59928 1.83422 1.21744 2.03221 0.849744C2.2302 0.482049 2.55547 0.298201 3.00802 0.298201L12.5115 0.298201C12.8509 0.298201 13.1338 0.411338 13.3601 0.637612C13.5863 0.863886 13.6995 1.14673 13.6995 1.48614L13.6995 10.9897C13.6995 11.3291 13.5863 11.6119 13.3601 11.8382C13.1338 12.0645 12.8651 12.1635 12.554 12.1352C12.2428 12.1069 11.9741 11.9796 11.7479 11.7533C11.5216 11.5271 11.4367 11.2725 11.4933 10.9897L11.4084 4.11658L2.15949 13.3655C1.93321 13.5918 1.67865 13.7049 1.39581 13.7049C1.11297 13.7049 0.85841 13.5918 0.632137 13.3655Z" fill="white"/>
                    </svg>
                </button>
            </div>
            <div class="w-100">
                <div class="advantages__items">
                    <div class="advantages__item">
                        <div class="advantages__item-title">+100</div>
                        <div class="advantages__item-text">lorem ipsum lorem ipsum</div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__item-title">+100</div>
                        <div class="advantages__item-text">lorem ipsum lorem ipsum</div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__item-title">+100</div>
                        <div class="advantages__item-text">lorem ipsum lorem ipsum</div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__item-title">+100</div>
                        <div class="advantages__item-text">lorem ipsum lorem ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>