<div class="container">
    <div class="section allBlogs">
        <div class="allBlogs__item">
            <div class="allBlogs__img-wrapper">
                <img src="images/blog1.png" alt="blog">
                <a href="">
                    <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="34" cy="34" r="34" fill="white"/>
                        <path d="M24.5118 40.1235C24.2832 39.797 24.1995 39.4603 24.2607 39.1134C24.3219 38.7665 24.5157 38.4788 24.8421 38.2502L38.1862 28.9066L29.7747 27.3161C29.2768 27.2998 28.9319 27.0244 28.7401 26.4898C28.5482 25.9552 28.6134 25.4838 28.9358 25.0757C29.2581 24.6675 29.6968 24.5124 30.2519 24.6102L41.9079 26.6655C42.3242 26.7389 42.6466 26.9388 42.8752 27.2653C43.1038 27.5918 43.1814 27.9631 43.108 28.3794L41.0527 40.0355C40.9793 40.4518 40.7794 40.7742 40.4529 41.0028C40.1265 41.2314 39.7755 41.2947 39.4 41.1927C39.0245 41.0907 38.7225 40.8765 38.4939 40.5501C38.2653 40.2236 38.2163 39.893 38.3469 39.5584L39.7292 31.1102L26.3851 40.4538C26.0587 40.6824 25.722 40.7661 25.3751 40.7049C25.0282 40.6438 24.7404 40.4499 24.5118 40.1235Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blog__date">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1481_5300)">
                    <path d="M12.2067 10.5894L9.69703 8.70714V4.87293C9.69703 4.48741 9.38541 4.17578 8.99988 4.17578C8.61436 4.17578 8.30273 4.48741 8.30273 4.87293V9.05575C8.30273 9.27534 8.40592 9.48241 8.58159 9.61347L11.3701 11.7049C11.4956 11.799 11.642 11.8443 11.7877 11.8443C12.0003 11.8443 12.2095 11.7488 12.3461 11.5647C12.5776 11.2573 12.5149 10.8202 12.2067 10.5894Z" fill="#A9A9A9"/>
                    <path d="M9 0C4.0371 0 0 4.0371 0 9C0 13.9629 4.0371 18 9 18C13.9629 18 18 13.9629 18 9C18 4.0371 13.9629 0 9 0ZM9 16.6057C4.80674 16.6057 1.39426 13.1933 1.39426 9C1.39426 4.80674 4.80674 1.39426 9 1.39426C13.194 1.39426 16.6057 4.80674 16.6057 9C16.6057 13.1933 13.1933 16.6057 9 16.6057Z" fill="#A9A9A9"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1481_5300">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                April 29, 2024
            </div>
            <a href="#" class="allBlogs__title">
                Lorem ipsum dolor sit amet, consectetur 
            </a>
        </div>
        <div class="allBlogs__item">
            <div class="allBlogs__img-wrapper">
                <img src="images/blog1.png" alt="blog">
                <a href="">
                    <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="34" cy="34" r="34" fill="white"/>
                        <path d="M24.5118 40.1235C24.2832 39.797 24.1995 39.4603 24.2607 39.1134C24.3219 38.7665 24.5157 38.4788 24.8421 38.2502L38.1862 28.9066L29.7747 27.3161C29.2768 27.2998 28.9319 27.0244 28.7401 26.4898C28.5482 25.9552 28.6134 25.4838 28.9358 25.0757C29.2581 24.6675 29.6968 24.5124 30.2519 24.6102L41.9079 26.6655C42.3242 26.7389 42.6466 26.9388 42.8752 27.2653C43.1038 27.5918 43.1814 27.9631 43.108 28.3794L41.0527 40.0355C40.9793 40.4518 40.7794 40.7742 40.4529 41.0028C40.1265 41.2314 39.7755 41.2947 39.4 41.1927C39.0245 41.0907 38.7225 40.8765 38.4939 40.5501C38.2653 40.2236 38.2163 39.893 38.3469 39.5584L39.7292 31.1102L26.3851 40.4538C26.0587 40.6824 25.722 40.7661 25.3751 40.7049C25.0282 40.6438 24.7404 40.4499 24.5118 40.1235Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blog__date">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1481_5300)">
                    <path d="M12.2067 10.5894L9.69703 8.70714V4.87293C9.69703 4.48741 9.38541 4.17578 8.99988 4.17578C8.61436 4.17578 8.30273 4.48741 8.30273 4.87293V9.05575C8.30273 9.27534 8.40592 9.48241 8.58159 9.61347L11.3701 11.7049C11.4956 11.799 11.642 11.8443 11.7877 11.8443C12.0003 11.8443 12.2095 11.7488 12.3461 11.5647C12.5776 11.2573 12.5149 10.8202 12.2067 10.5894Z" fill="#A9A9A9"/>
                    <path d="M9 0C4.0371 0 0 4.0371 0 9C0 13.9629 4.0371 18 9 18C13.9629 18 18 13.9629 18 9C18 4.0371 13.9629 0 9 0ZM9 16.6057C4.80674 16.6057 1.39426 13.1933 1.39426 9C1.39426 4.80674 4.80674 1.39426 9 1.39426C13.194 1.39426 16.6057 4.80674 16.6057 9C16.6057 13.1933 13.1933 16.6057 9 16.6057Z" fill="#A9A9A9"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1481_5300">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                April 29, 2024
            </div>
            <a href="#" class="allBlogs__title">
                Lorem ipsum dolor sit amet, consectetur 
            </a>
        </div>
        <div class="allBlogs__item">
            <div class="allBlogs__img-wrapper">
                <img src="images/blog1.png" alt="blog">
                <a href="">
                    <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="34" cy="34" r="34" fill="white"/>
                        <path d="M24.5118 40.1235C24.2832 39.797 24.1995 39.4603 24.2607 39.1134C24.3219 38.7665 24.5157 38.4788 24.8421 38.2502L38.1862 28.9066L29.7747 27.3161C29.2768 27.2998 28.9319 27.0244 28.7401 26.4898C28.5482 25.9552 28.6134 25.4838 28.9358 25.0757C29.2581 24.6675 29.6968 24.5124 30.2519 24.6102L41.9079 26.6655C42.3242 26.7389 42.6466 26.9388 42.8752 27.2653C43.1038 27.5918 43.1814 27.9631 43.108 28.3794L41.0527 40.0355C40.9793 40.4518 40.7794 40.7742 40.4529 41.0028C40.1265 41.2314 39.7755 41.2947 39.4 41.1927C39.0245 41.0907 38.7225 40.8765 38.4939 40.5501C38.2653 40.2236 38.2163 39.893 38.3469 39.5584L39.7292 31.1102L26.3851 40.4538C26.0587 40.6824 25.722 40.7661 25.3751 40.7049C25.0282 40.6438 24.7404 40.4499 24.5118 40.1235Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blog__date">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1481_5300)">
                    <path d="M12.2067 10.5894L9.69703 8.70714V4.87293C9.69703 4.48741 9.38541 4.17578 8.99988 4.17578C8.61436 4.17578 8.30273 4.48741 8.30273 4.87293V9.05575C8.30273 9.27534 8.40592 9.48241 8.58159 9.61347L11.3701 11.7049C11.4956 11.799 11.642 11.8443 11.7877 11.8443C12.0003 11.8443 12.2095 11.7488 12.3461 11.5647C12.5776 11.2573 12.5149 10.8202 12.2067 10.5894Z" fill="#A9A9A9"/>
                    <path d="M9 0C4.0371 0 0 4.0371 0 9C0 13.9629 4.0371 18 9 18C13.9629 18 18 13.9629 18 9C18 4.0371 13.9629 0 9 0ZM9 16.6057C4.80674 16.6057 1.39426 13.1933 1.39426 9C1.39426 4.80674 4.80674 1.39426 9 1.39426C13.194 1.39426 16.6057 4.80674 16.6057 9C16.6057 13.1933 13.1933 16.6057 9 16.6057Z" fill="#A9A9A9"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1481_5300">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                April 29, 2024
            </div>
            <a href="#" class="allBlogs__title">
                Lorem ipsum dolor sit amet, consectetur 
            </a>
        </div>
        <div class="allBlogs__item">
            <div class="allBlogs__img-wrapper">
                <img src="images/blog1.png" alt="blog">
                <a href="">
                    <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="34" cy="34" r="34" fill="white"/>
                        <path d="M24.5118 40.1235C24.2832 39.797 24.1995 39.4603 24.2607 39.1134C24.3219 38.7665 24.5157 38.4788 24.8421 38.2502L38.1862 28.9066L29.7747 27.3161C29.2768 27.2998 28.9319 27.0244 28.7401 26.4898C28.5482 25.9552 28.6134 25.4838 28.9358 25.0757C29.2581 24.6675 29.6968 24.5124 30.2519 24.6102L41.9079 26.6655C42.3242 26.7389 42.6466 26.9388 42.8752 27.2653C43.1038 27.5918 43.1814 27.9631 43.108 28.3794L41.0527 40.0355C40.9793 40.4518 40.7794 40.7742 40.4529 41.0028C40.1265 41.2314 39.7755 41.2947 39.4 41.1927C39.0245 41.0907 38.7225 40.8765 38.4939 40.5501C38.2653 40.2236 38.2163 39.893 38.3469 39.5584L39.7292 31.1102L26.3851 40.4538C26.0587 40.6824 25.722 40.7661 25.3751 40.7049C25.0282 40.6438 24.7404 40.4499 24.5118 40.1235Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blog__date">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1481_5300)">
                    <path d="M12.2067 10.5894L9.69703 8.70714V4.87293C9.69703 4.48741 9.38541 4.17578 8.99988 4.17578C8.61436 4.17578 8.30273 4.48741 8.30273 4.87293V9.05575C8.30273 9.27534 8.40592 9.48241 8.58159 9.61347L11.3701 11.7049C11.4956 11.799 11.642 11.8443 11.7877 11.8443C12.0003 11.8443 12.2095 11.7488 12.3461 11.5647C12.5776 11.2573 12.5149 10.8202 12.2067 10.5894Z" fill="#A9A9A9"/>
                    <path d="M9 0C4.0371 0 0 4.0371 0 9C0 13.9629 4.0371 18 9 18C13.9629 18 18 13.9629 18 9C18 4.0371 13.9629 0 9 0ZM9 16.6057C4.80674 16.6057 1.39426 13.1933 1.39426 9C1.39426 4.80674 4.80674 1.39426 9 1.39426C13.194 1.39426 16.6057 4.80674 16.6057 9C16.6057 13.1933 13.1933 16.6057 9 16.6057Z" fill="#A9A9A9"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1481_5300">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                April 29, 2024
            </div>
            <a href="#" class="allBlogs__title">
                Lorem ipsum dolor sit amet, consectetur 
            </a>
        </div>
        <div class="allBlogs__item">
            <div class="allBlogs__img-wrapper">
                <img src="images/blog1.png" alt="blog">
                <a href="">
                    <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="34" cy="34" r="34" fill="white"/>
                        <path d="M24.5118 40.1235C24.2832 39.797 24.1995 39.4603 24.2607 39.1134C24.3219 38.7665 24.5157 38.4788 24.8421 38.2502L38.1862 28.9066L29.7747 27.3161C29.2768 27.2998 28.9319 27.0244 28.7401 26.4898C28.5482 25.9552 28.6134 25.4838 28.9358 25.0757C29.2581 24.6675 29.6968 24.5124 30.2519 24.6102L41.9079 26.6655C42.3242 26.7389 42.6466 26.9388 42.8752 27.2653C43.1038 27.5918 43.1814 27.9631 43.108 28.3794L41.0527 40.0355C40.9793 40.4518 40.7794 40.7742 40.4529 41.0028C40.1265 41.2314 39.7755 41.2947 39.4 41.1927C39.0245 41.0907 38.7225 40.8765 38.4939 40.5501C38.2653 40.2236 38.2163 39.893 38.3469 39.5584L39.7292 31.1102L26.3851 40.4538C26.0587 40.6824 25.722 40.7661 25.3751 40.7049C25.0282 40.6438 24.7404 40.4499 24.5118 40.1235Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blog__date">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1481_5300)">
                    <path d="M12.2067 10.5894L9.69703 8.70714V4.87293C9.69703 4.48741 9.38541 4.17578 8.99988 4.17578C8.61436 4.17578 8.30273 4.48741 8.30273 4.87293V9.05575C8.30273 9.27534 8.40592 9.48241 8.58159 9.61347L11.3701 11.7049C11.4956 11.799 11.642 11.8443 11.7877 11.8443C12.0003 11.8443 12.2095 11.7488 12.3461 11.5647C12.5776 11.2573 12.5149 10.8202 12.2067 10.5894Z" fill="#A9A9A9"/>
                    <path d="M9 0C4.0371 0 0 4.0371 0 9C0 13.9629 4.0371 18 9 18C13.9629 18 18 13.9629 18 9C18 4.0371 13.9629 0 9 0ZM9 16.6057C4.80674 16.6057 1.39426 13.1933 1.39426 9C1.39426 4.80674 4.80674 1.39426 9 1.39426C13.194 1.39426 16.6057 4.80674 16.6057 9C16.6057 13.1933 13.1933 16.6057 9 16.6057Z" fill="#A9A9A9"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1481_5300">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                April 29, 2024
            </div>
            <a href="#" class="allBlogs__title">
                Lorem ipsum dolor sit amet, consectetur 
            </a>
        </div>
    </div>
</div>