<div class="banner">
    <div class="banner__content">
        <div class="container">
            <div class="banner__title">
                Looking for something more custom?
            </div>
            <div class="col-12 col-lg-9 manual-text text-center mx-auto">If there's another partnership option you're looking for, or if you just need clarity on an existing partnership option, drop us a line at partnerships@novamobile.io and we will be in touch.</div>
        </div>
        <div class="btn btn-white">Become a partner</div>
    </div>
</div>