<section class="section blog-slider">
    <div class="container">
        <div class="sectionTitle">Blog</div>
        <div class="cascade-slider_container" id="cascade-slider">
            <div class="cascade-slider_slides">
                <div class="cascade-slider_item">
                    <div class="swiper-slide blogSlider__item" style="background: url(images/slider_bg_1.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
                        <div class="slide__non-active">
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                        </div>
                        <div class="slide-active">
                        <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                        <div class="slider__desc manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. 
                            With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                        </div>
                    </div>
                </div>
                <div class="cascade-slider_item">
                    <div class="swiper-slide  blogSlider__item" style="background: url(images/slider_bg_1.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
                        <div class="slide__non-active">
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                        </div>
                        <div class="slide-active">
                        <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                        <div class="slider__desc manual-text">Our design team revolutionizes UX/Ul by integrating the most innovative approaches to HCI, utility, egronomics, system performance through discovering human factors of your target segment.</div>
                        </div>
                    </div>
                </div>
                <div class="cascade-slider_item">
                    <div class="swiper-slide  blogSlider__item" style="background: url(images/slider_bg_1.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
                        <div class="slide__non-active">
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel </h3>
                        </div>
                        <div class="slide-active">
                        <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                        <div class="slider__desc manual-text">
                            We deploy leading tools to prototype and implement hybrid (iOS and Android) mobile applications bringing top-notch user experience through mobile technologies.</div>
                        </div>
                    </div>
                </div>
                <div class="cascade-slider_item">
                    <div class="swiper-slide  blogSlider__item" style="background: url(images/slider_bg_1.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
                        <div class="slide__non-active">
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel</h3>
                            <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel<</h3>
                        </div>
                        <div class="slide-active">
                        <h3 class="slider__title blogSlider__title">Best Fiji eSIM For Travel<</h3>
                        <div class="slider__desc manual-text">
                            A compelling vision drives our commitment to the game industry. Our team, experienced in Unity and Unreal Engine, blends commercial success, technical expertise, and cutting-edge game engine technologies to deliver a uniquely efficient product, ensuring your business stands out in the competitive market.</div>
                        </div>
                    </div>
                </div>
            </div>

            <ol class="cascade-slider_nav ">
                <li class="cascade-slider_dot  cur"></li>
                <li class="cascade-slider_dot"></li>
                <li class="cascade-slider_dot"></li>
                <li class="cascade-slider_dot"></li>
            </ol>

            <button class="cascade-slider_arrow cascade-slider_arrow-left" data-action="prev">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.12155 7.49999H19.0002V10.5H6.12155L11.0609 15.4393L8.93957 17.5606L0.378906 8.99999L8.93957 0.439331L11.0609 2.56065L6.12155 7.49999Z" fill="#121212"/>
                </svg>
            </button>
            <button class="cascade-slider_arrow cascade-slider_arrow-right"
                data-action="next">
                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4775 10.557H0.923828V7.443H13.4775L8.66282 2.31595L10.7306 0.114014L19.0752 9L10.7306 17.886L8.66282 15.6841L13.4775 10.557Z" fill="#121212"/>
                    </svg>
                </button>
        </div>
    </div>  
</section>









