<section class="section blog-slider">
    <div class="container">
        <div class="sectionTitle">Blog</div>
        <section class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide blogSlider__item" style="background-image:url(./images/slider_bg_1.png)">
                <div class="swiper-content">
                    <p class="swiper-title blogSlider__title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Best Fiji eSIM For Travel</p>
                    <span class="swiper-caption manual-text" data-swiper-parallax="-20%">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</span>
                    <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
                </div>
            </div>
            <!-- Еще слайды -->
            <div class="swiper-slide blogSlider__item" style="background-image:url(./images/slider_bg_1.png)">
                <div class="swiper-content">
                    <p class="swiper-title blogSlider__title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Best Fiji eSIM For Travel</p>
                    <span class="swiper-caption manual-text" data-swiper-parallax="-20%">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</span>
                    <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
</section>
        <!--<div class="blogSlider">
            <div class="blogSlider__item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
        </div>-->
        
        <!--<div id="carousel" data-auto="true">
        <div id="scene">
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <div class="blogSlider__item carousel_item">
                <img src="images/slider_bg_1.png" alt="">
                <div class="blogSlider__title">Best Fiji eSIM For Travel</div>
                <div class="manual-text">Planning a trip to Fiji? Getting a Fiji eSIM is one of the easiest and most affordable ways to stay connected during your trip. With an eSIM from Airalo, you can download a data plan, install the eSIM on your device, and connect to a mobile network upon arrival. The best part? You can do it all from your smartphone!</div>
                <a href="" class="btn btn-white d-flex align-items-center gap-10">
                    Read more 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.583484 13.3654C0.357216 13.1391 0.244083 12.8845 0.244083 12.6017C0.244083 12.3188 0.357216 12.0642 0.583483 11.838L9.83215 2.58871L2.95929 2.50386C2.56332 2.56043 2.2522 2.39072 2.02594 1.99473C1.79967 1.59873 1.78553 1.21689 1.98351 0.849178C2.1815 0.481471 2.50676 0.297617 2.95929 0.297617L12.4625 0.297617C12.8019 0.297617 13.0847 0.410757 13.311 0.637039C13.5373 0.86332 13.6504 1.14617 13.6504 1.48559L13.6504 10.9894C13.6504 11.3288 13.5373 11.6117 13.311 11.838C13.0847 12.0642 12.816 12.1632 12.5049 12.135C12.1938 12.1067 11.9251 11.9794 11.6989 11.7531C11.4726 11.5268 11.3877 11.2723 11.4443 10.9894L11.3595 4.11611L2.11079 13.3654C1.88452 13.5916 1.62997 13.7048 1.34713 13.7048C1.0643 13.7048 0.80975 13.5916 0.583484 13.3654Z" fill="black"/>
                    </svg>
                </a>
            </div>
        </div>

        <div id="carousel_btn">
            <div class="btn prev">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.1841 8.75086H21.6726V12.1259H7.1841L12.7409 17.6826L10.3544 20.0691L0.723633 10.4384L10.3544 0.807617L12.7409 3.1941L7.1841 8.75086Z" fill="black"/>
                </svg>
            </div>
            <div class="btn next">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3358 12.1898H0.212891V8.68652H14.3358L8.91926 2.91859L11.2455 0.441406L20.6332 10.4381L11.2455 20.4349L8.91926 17.9577L14.3358 12.1898V12.1898Z" fill="black"/>
                </svg>
            </div>
        </div>
        </div>-->
    </div>  
</section>










