<section class="tabs">
    <div class="container">
        <div class="sectionTitle">Explore our partnership solutions</div>
        <div class="manual-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue.</div>
        <div class="tabs__buttons mt-50">
            <div class="col-12 mx-auto d-flex justify-content-between tabs__border left">
                <div class="text active" data-tab="corporates">Corporates</div>
                <div class="text" data-tab="resellers">Resellers</div>
                <div class="text" data-tab="api">API partners</div>
                <div class="text" data-tab="brand">Brand partners</div>
                <div class="text" data-tab="affiliates">Affiliates</div>
                <div class="tabs__active-border"></div>
            </div>
            
        </div>
        <div class="row" data-tab-target="corporates">
            <div class="col-lg-6  pt-5 pb-4 pb-lg-0 pe-5">
                <img src="images/corp_img.png" alt="">
            </div>
            <div class="col-lg-6 ps-5">
                <div class="tab__title">
                    Nova for corporates
                </div>
                <div class="tab__subtitle">
                    Simplify and save on travel connectivity
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Get exclusive discounts on every purchase
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Manage and monitor eSIM usage for your teams
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="apps-for-download">
                    <button class="btn btn-dark">Become a partner</button>
                </div>
            </div>
        </div>
        <div class="row hidden" data-tab-target="resellers">
            <div class="col-lg-6  pt-5 pb-4 pb-lg-0 pe-5">
                <img src="images/res_img.png" alt="">
            </div>
            <div class="col-lg-6 ps-5">
                <div class="tab__title">
                    Nova for resellers
                </div>
                <div class="tab__subtitle">
                    Sell eSIM packages for 200+ destinations
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Integrate with third-party e-commerce solutions
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Earn generous commissions on every eSIM purchase
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="apps-for-download">
                    <button class="btn btn-dark">Become a partner</button>
                </div>
            </div>
        </div>
        <div class="row hidden" data-tab-target="api">
            <div class="col-lg-6  pt-5 pb-4 pb-lg-0 pe-5">
                <img src="images/api_img.png" alt="">
            </div>
            <div class="col-lg-6 ps-5">
                <div class="tab__title">
                    Nova for API partners
                </div>
                <div class="tab__subtitle">
                    Seamlessly integrate Nova's inventory into your product
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Sell eSIM packages for 200+ destinations
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Earn generous commissions on every eSIM purchase
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="apps-for-download">
                    <button class="btn btn-dark">Become a partner</button>
                </div>
            </div>
        </div>
        <div class="row hidden" data-tab-target="brand">
            <div class="col-lg-6  pt-5 pb-4 pb-lg-0 pe-5">
                <img src="images/brand_img.png" alt="">
            </div>
            <div class="col-lg-6 ps-5">
                <div class="tab__title">
                    Nova for brand partners
                </div>
                <div class="tab__subtitle">
                    Explore co-branded and white-label solutions
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Offer eSIMs for 200+ countries and regions
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Earn generous commissions for every eSIM purchase
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="apps-for-download">
                    <button class="btn btn-dark">Become a partner</button>
                </div>
            </div>
        </div>
        <div class="row hidden" data-tab-target="affiliates">
            <div class="col-lg-6 pt-5 pb-4 pb-lg-0 pe-5">
                <img src="images/aff_img.png" alt="">
            </div>
            <div class="col-lg-6 ps-5">
                <div class="tab__title">
                    Nova for affiliates
                </div>
                <div class="tab__subtitle">
                    Explore co-branded and white-label solutions
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Offer eSIMs for 200+ countries and regions
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="tab__subtitle mt-4">
                    Earn generous commissions for every eSIM purchase
                </div>
                <div class="manual-text mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. 
                </div>
                <div class="apps-for-download">
                    <button class="btn btn-dark">Become a partner</button>
                </div>
            </div>
        </div>
    </div>
</section>