<main class="main">
    <img class="cloud" src="images/cloud.png" alt="">
    {{> blocks / header}}
    {{> blocks / breadcrumbs}}  
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="hero">
                    <div class="d-flex flex-column gap-30 gap-max-xl-20">
                        <h1>Join the travel connectivity <span>revolution</span></h1>
                        <div class="col-12 col-lg-5 hero__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique mollis sapien ut placerat. Aenean eu sem nec libero varius fringilla. Morbi sagittis dui nec magna interdum gravida. Proin ut lorem vulputate, scelerisque justo quis, tincidunt lorem. Phasellus odio purus, pharetra eget est quis, gravida vulputate nisl. 
                            <br>
                            <br>
                            Etiam egestas nisl velit, eu mollis mauris fermentum non. Nulla tempus vulputate ligula. Suspendisse potenti. Proin nec nisi dui. Etiam congue augue sit amet orci ornare, rutrum accumsan est auctor.
                        </div>
                        
                    </div>
                    <div class="apps-for-download">
                        <button class="btn btn-dark">Become a partner</button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <img src="images/business_main_img.png" alt="">
            </div>
        </div>
    </div>
</main>