<div class="careers">
    <div class="section careers__main_section">
        <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-12 col-lg-6">
                    <h1 class="text-center text-lg-start">Find the job of your <span class="text-colored">dreams</span></h1>
                    <div class="manual-text mt-30 mt-max-md-20 text-center text-lg-start">
                        The Nova team is always growing — and we'd love for you to join us! Browse our job vacancies to find the role that's right for you. Your dream job could be just a scroll away.
                    </div>
                    <a href="#vacansii" type="button" class="btn btn-dark h-60 mt-30 btn-careers">Join the team</a>
                </div>
                <div class="col-12 col-lg-6 main__img_block">
                    <img src="images/careers_main_img.png" alt="">
                    <div class="propose">
                        <svg width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32 8.28826V9.28826H33H39.875C41.5285 9.28826 43 10.7596 43 12.3883V20.9549H1V12.3883C1 10.7597 2.47227 9.28826 4.125 9.28826H11H12V8.28826V4.18826C12 2.56032 13.4717 1.08826 15.125 1.08826H28.875C30.5283 1.08826 32 2.56032 32 4.18826V8.28826ZM28.875 9.28826H29.875V8.28826V4.18826V3.18826H28.875H15.125H14.125V4.18826V8.28826V9.28826H15.125H28.875ZM26.125 31.1549C27.4316 31.1549 28.5 30.1017 28.5 28.7883V25.6883H43V36.9883C43 38.6161 41.5276 40.0883 39.875 40.0883H4.125C2.47227 40.0883 1 38.6168 1 36.9883V25.6883H15.5V28.7883C15.5 30.0979 16.5722 31.1549 17.875 31.1549H26.125Z" fill="url(#paint0_linear_1358_7395)" stroke="url(#paint1_linear_1358_7395)" stroke-width="2"/>
                            <defs>
                            <linearGradient id="paint0_linear_1358_7395" x1="15.4917" y1="-12.0836" x2="26.3525" y2="38.7892" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#832FBD"/>
                            <stop offset="1" stop-color="#D06852"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_1358_7395" x1="15.4917" y1="-12.0836" x2="26.3525" y2="38.7892" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#832FBD"/>
                            <stop offset="1" stop-color="#D06852"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        <div class="propose__count">10</div>
                        <div class="propose__text">Job Vocancy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section ">
        <div class="container">
            <div class="information information__about">
                <div class="information__item">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M50 25C50 38.7917 38.7917 50 25 50C11.2083 50 0 38.7917 0 25C0 11.2083 11.2083 0 25 0C26.5208 0 28.0625 0.145833 29.5417 0.416667C30.6667 0.625 31.4167 1.70833 31.2083 2.83333C31 3.95833 29.9167 4.70833 28.7917 4.5C27.5625 4.27083 26.2708 4.16667 25 4.16667C13.5208 4.16667 4.16667 13.5208 4.16667 25C4.16667 36.4792 13.5208 45.8333 25 45.8333C36.4792 45.8333 45.8333 36.4792 45.8333 25C45.8333 23.7292 45.7083 22.4583 45.5 21.2083C45.2917 20.0833 46.0417 19 47.1667 18.7917C48.3125 18.5833 49.375 19.3333 49.5833 20.4583C49.8542 21.9375 50 23.4792 50 25ZM26.7917 12.625C27.9375 12.7917 28.9792 12 29.1458 10.8542C29.3125 9.70833 28.5208 8.66667 27.375 8.5C26.5833 8.39583 25.7917 8.33333 25 8.33333C15.8125 8.33333 8.33333 15.8125 8.33333 25C8.33333 34.1875 15.8125 41.6667 25 41.6667C34.1875 41.6667 41.6667 34.1875 41.6667 25C41.6667 24.2083 41.6042 23.4167 41.5 22.625C41.3333 21.4792 40.2917 20.6875 39.1458 20.8542C38 21.0208 37.2083 22.0625 37.375 23.2083C37.4583 23.7917 37.5 24.3958 37.5 25C37.5 31.8958 31.8958 37.5 25 37.5C18.1042 37.5 12.5 31.8958 12.5 25C12.5 18.1042 18.1042 12.5 25 12.5C25.6042 12.5 26.2083 12.5417 26.7917 12.625ZM22.3958 18.9583C21.625 18.1042 20.3125 18.0208 19.4583 18.7917C17.6875 20.375 16.6875 22.6458 16.6875 25C16.6875 29.6042 20.4167 33.3333 25.0208 33.3333C27.3958 33.3333 29.6458 32.3125 31.2292 30.5625C32 29.7083 31.9167 28.3958 31.0625 27.625C30.2083 26.8542 28.8958 26.9375 28.125 27.7917C27.3333 28.6667 26.2083 29.1875 25.0208 29.1875C22.7292 29.1875 20.8542 27.3125 20.8542 25.0208C20.8542 23.8333 21.3542 22.7083 22.25 21.9167C23.1042 21.1458 23.1875 19.8333 22.4167 18.9792L22.3958 18.9583ZM25.625 21.4583C24.8125 22.2708 24.8125 23.5833 25.625 24.3958C26.0417 24.8125 26.5625 25 27.1042 25C27.6458 25 28.1667 24.7917 28.5833 24.3958L38.3958 14.5833H43.7917C44.3542 14.5833 44.875 14.3542 45.2708 13.9792L49.4375 9.8125C50.0417 9.20833 50.2083 8.3125 49.8958 7.54167C49.5833 6.77083 48.8125 6.25 47.9792 6.25H43.8125V2.08333C43.8125 1.25 43.3125 0.479167 42.5208 0.166667C41.7292 -0.166667 40.8542 0.0208334 40.25 0.625L36.0833 4.79167C35.6875 5.1875 35.4792 5.70833 35.4792 6.27083V11.6667L25.6667 21.4792L25.625 21.4583Z" fill="white"/>
                    </svg>
                    <div class="information__title">OUR MISSION</div>
                    <div class="information__text mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. 
                        <br>
                        <br>
                    Nam at est non ex pellentesque dapibus. 
                    Maecenas dignissim bibendum vehicula. </div>
                </div>
                <div class="information__item">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M48.8398 31.6056C48.1571 29.4311 47.1945 27.2121 45.9871 25.0001C47.1945 22.7882 48.1571 20.5691 48.8398 18.3947C49.6562 15.7481 50.0355 13.499 49.9908 11.1078C49.9098 7.82947 48.8652 5.09396 46.8843 3.11409C43.5718 -0.199377 38.1447 -0.893506 31.6037 1.15862C29.4286 1.84103 27.2105 2.80266 24.9983 4.0103C22.7861 2.80266 20.568 1.84103 18.3928 1.15862C11.8518 -0.893506 6.42572 -0.199377 3.11225 3.11409C-0.201208 6.42657 -0.895337 11.8537 1.15678 18.3947C1.83949 20.5691 2.80209 22.7882 4.00945 25.0001C2.80209 27.2121 1.83949 29.4311 1.15678 31.6056C-0.895337 38.1466 -0.201208 43.5737 3.11225 46.8862C5.17609 48.951 8.06097 49.9985 11.5248 49.9985C13.6199 49.9985 15.9278 49.6148 18.3928 48.8416C20.568 48.1592 22.7861 47.1976 24.9983 45.9899C27.2105 47.1976 29.4286 48.1592 31.6037 48.8416C34.0688 49.6148 36.3767 49.9985 38.4718 49.9985C41.9356 49.9985 44.8205 48.951 46.8843 46.8862C49.048 44.7834 50.1112 41.4691 49.9908 38.0382C49.942 36.0593 49.5603 33.9008 48.8398 31.6056ZM32.4804 3.95368C35.1934 3.12814 37.365 2.77981 39.8191 3.00572C41.9063 3.2244 43.5875 3.95758 44.8137 5.18476C46.0408 6.41095 46.774 8.09209 46.9927 10.1794C47.2182 12.3262 46.8999 14.7952 46.0447 17.518C45.5775 19.0069 44.9654 20.5213 44.223 22.0417C42.2181 18.9435 39.7543 15.906 36.9234 13.075C34.0921 10.2436 31.0545 7.78046 27.9563 5.7756C29.4766 5.03314 30.9911 4.42112 32.4804 3.95368ZM3.95185 17.518C3.09663 14.7952 2.77837 12.3262 3.00389 10.1794C3.22257 8.09209 3.95575 6.41095 5.18292 5.18476C6.40912 3.95758 8.09026 3.2244 10.1775 3.00572C12.6302 2.77971 14.8045 3.12824 17.5162 3.95368C19.0055 4.42112 20.5199 5.03314 22.0403 5.77569C18.9421 7.78056 15.9045 10.2436 13.0731 13.0751C10.2422 15.9061 7.77844 18.9436 5.77357 22.0418C5.03121 20.5213 4.41909 19.0069 3.95185 17.518ZM17.5162 46.0466C14.7933 46.9018 12.3243 47.22 10.1775 46.9945C8.09026 46.7758 6.40912 46.0427 5.18292 44.8155C3.95575 43.5893 3.22257 41.9082 3.00389 39.8209C2.77837 37.6741 3.09663 35.2051 3.95185 32.4823C4.41909 30.9934 5.03121 29.479 5.77357 27.9585C7.77844 31.0567 10.2422 34.0943 13.0731 36.9253C15.9045 39.7566 18.9421 42.2198 22.0403 44.2246C20.5198 44.9671 19.0055 45.5791 17.5162 46.0466ZM15.1438 34.8546C12.0356 31.7464 9.40188 28.3895 7.37905 25.0001C9.40188 21.6107 12.0356 18.2538 15.1438 15.1456C18.2523 12.0372 21.6087 9.40225 24.9983 7.38039C28.3879 9.40225 31.7443 12.0372 34.8528 15.1456C37.961 18.2538 40.5947 21.6107 42.6175 25.0001C40.5947 28.3895 37.961 31.7464 34.8528 34.8546C31.7443 37.963 28.3879 40.598 24.9983 42.6199C21.6087 40.598 18.2523 37.963 15.1438 34.8546ZM46.9927 39.8209C46.774 41.9082 46.0408 43.5893 44.8137 44.8155C43.5875 46.0427 41.9063 46.7758 39.8191 46.9945C37.6722 47.22 35.2032 46.9018 32.4804 46.0466C30.9911 45.5791 29.4766 44.9671 27.9563 44.2246C31.0545 42.2197 34.0921 39.7566 36.9234 36.9253C39.7543 34.0943 42.2181 31.0567 44.223 27.9585C44.9654 29.479 45.5775 30.9934 46.0447 32.4823C46.8999 35.2051 47.2182 37.6741 46.9927 39.8209Z" fill="white"/>
                        <path d="M33.9419 19.0457C31.4562 16.5457 27.3526 16.6846 24.9983 19.2907C23.8088 17.9984 22.1677 17.2356 20.4039 17.2445C18.7609 17.2445 17.2164 17.8849 16.0546 19.0457C13.6569 21.4444 13.6569 25.3465 16.0546 27.7443L23.9566 35.6452C24.5239 36.213 25.4679 36.2216 26.0399 35.6452L33.9419 27.7443C35.1407 26.5454 35.7402 24.9707 35.7402 23.395C35.7402 21.8202 35.1407 20.2455 33.9419 19.0457Z" fill="white"/>
                    </svg>
                    <div class="information__title">OUR Values</div>
                    <div class="information__text mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. 
                        <br>
                        <br>
                    Nam at est non ex pellentesque dapibus. 
                    Maecenas dignissim bibendum vehicula. </div>
                </div>
                <div class="information__item">
                    <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.129 41.4008C16.129 42.6681 15.0921 43.705 13.8249 43.705H4.30099C3.0337 43.705 1.99683 42.6681 1.99683 41.4008V30.9553C1.99683 29.688 3.0337 28.6511 4.30099 28.6511H13.8249C15.0921 28.6511 16.129 29.688 16.129 30.9553V41.4008Z" fill="white"/>
                        <path d="M33.0646 41.4008C33.0646 42.6681 32.0277 43.7049 30.7604 43.7049H21.2365C19.9692 43.7049 18.9324 42.6681 18.9324 41.4008V25.4253C18.9324 24.158 19.9692 23.1211 21.2365 23.1211H30.7604C32.0277 23.1211 33.0646 24.158 33.0646 25.4253V41.4008Z" fill="white"/>
                        <path d="M50.0001 41.4008C50.0001 42.6681 48.9632 43.705 47.6959 43.705H38.1721C36.9048 43.705 35.8679 42.6681 35.8679 41.4008V19.2808C35.8679 18.0136 36.9048 16.9767 38.1721 16.9767H47.6959C48.9632 16.9767 50.0001 18.0136 50.0001 19.2808V41.4008Z" fill="white"/>
                        <path d="M48.0068 0.338148L37.6573 2.85614C36.8361 3.05491 36.6531 3.70637 37.2505 4.30376L39.459 6.46061C39.6444 6.67198 39.4244 6.95309 39.2499 7.07214C37.8593 8.02145 35.6524 9.4144 32.6018 11.006C15.9942 19.6707 2.30393 19.1392 2.09809 19.1298C0.999161 19.0741 0.0595237 19.9206 0.00268775 21.0214C-0.0539946 22.1228 0.792708 23.0618 1.8941 23.1185C1.97505 23.1226 2.30424 23.1375 2.8577 23.1375C6.40718 23.1375 19.1575 22.5251 34.4493 14.547C38.0676 12.6593 40.5754 11.0311 42.0398 10.0004C42.2469 9.85464 42.6077 9.60334 42.9407 9.94235L45.3563 12.3577C45.9537 12.9551 46.6019 12.7713 46.7973 11.9493L49.1452 1.47133C49.3403 0.649209 48.8279 0.139375 48.0068 0.338148Z" fill="white"/>
                    </svg>
                    <div class="information__title">OUR goals</div>
                    <div class="information__text mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. 
                        <br>
                        <br>
                    Nam at est non ex pellentesque dapibus. 
                    Maecenas dignissim bibendum vehicula. </div>
                </div>
            </div>
        </div>
    </div>
</div>
