<section class="section faq">
    <div class="container">
        <div class="sectionTitle">FAQ</div>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <img src="images/faq_img.png" alt="">
            </div>
            <div class="col-12 col-lg-7 d-flex flex-column gap-20 mt-max-lg-30 ps-lg-5">
                <div class="faq__item">
                    <div class="manual-title">How do I install my eSIM?</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare purus. Phasellus ultrices feugiat vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin scelerisque et justo vitae commodo. Suspendisse vitae est in ex hendrerit accumsan. </div>
                </div>
                <div class="faq__item">
                    <div class="manual-title">How do I install my eSIM?</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare purus. Phasellus ultrices feugiat vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin scelerisque et justo vitae commodo. Suspendisse vitae est in ex hendrerit accumsan. </div>
                </div>
                <div class="faq__item">
                    <div class="manual-title">How do I install my eSIM?</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare purus. Phasellus ultrices feugiat vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin scelerisque et justo vitae commodo. Suspendisse vitae est in ex hendrerit accumsan. </div>
                </div>
                <div class="faq__item">
                    <div class="manual-title">How do I install my eSIM?</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare purus. Phasellus ultrices feugiat vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin scelerisque et justo vitae commodo. Suspendisse vitae est in ex hendrerit accumsan. </div>
                </div>
            </div>
        </div>
    </div>
</section>