<header class="header">
    <div class="header__logo">
        <img src="https://st2.depositphotos.com/4035913/6124/i/600/depositphotos_61243677-stock-photo-real-estate-logo.jpg" alt="logo">
    </div>
    <div class="header__nav"></div>
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>