<section class="section howDo">
    <div class="container">
        <div class="sectionTitle">How do I partner with Nova?</div>
        <div class="manual-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue.</div>
        <div class="col-lg-10 mx-auto howDo__steps">
            <div class="howDo__steps-border"></div>
            <div class="howDo__steps-item">
                <div class="howDo__steps-count">1</div>
                <div class="howDo__steps-info">
                    <div class="manual-title">Choose your partnership</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="howDo__steps-item">
                <div class="howDo__steps-count">2</div>
                <div class="howDo__steps-info">
                    <div class="manual-title">Complete your application</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="howDo__steps-item">
                <div class="howDo__steps-count">3</div>
                <div class="howDo__steps-info">
                    <div class="manual-title">Get verified</div>
                    <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
        </div>
    </div>
</section>