<section class="section howItWorks">
    <div class="container">
        <div class="sectionTitle">How it works</div>
        <div class="section__content d-flex justify-content-between">
            <div class="col-5 desktop-lg howItWorks__img">
                <div class="device">
                    <img src="images/device_contur.png" alt="phone" class="device_contur">
                    <div class="device__screens">
                        <img src="images/device_screen_a.png" alt="phone" class="device__screen">
                        <img src="images/device_screen_b.png" alt="phone" class="device__screen">
                        <img src="images/device_screen_c.png" alt="phone" class="device__screen">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="steps">
                    <div class="steps__item steps__item1">
                        <div class="steps__title">Verify that your device is eSIM compatible and purchase your plan</div>
                        <div class="steps__desc">Verification is complete, purchase a data plan and receive your QR code either on the screen or via email.
                        </div>
                    </div>
                    <div class="steps__item steps__item2">
                        <div class="steps__title">Check your email and follow our instructions</div>
                        <div class="steps__desc">Would have been sent your email, for you to begin the installation and activation process.
                        </div>
                    </div>
                    <div class="steps__item steps__item3">
                        <div class="steps__title">Once you’ve landed, you are ready to stay connected and avoid those hefty roaming charges</div>
                        <div class="steps__desc">Stay seamlessly connected on your travels as your phone automatically links to the strongest carrier in your region. Enjoy every moment to the fullest!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>