<section class="section howItWorks">
    <div class="container">
        <div class="sectionTitle">How it works</div>
        <div class="section__content d-flex justify-content-between">
            <div class="col-5 desktop-lg howItWorks__img">
                <img src="images/phone.png" alt="phone">
            </div>
            <div class="col-lg-6">
                <div class="steps">
                    <div class="steps__item">
                        <div class="steps__title">Download the app</div>
                        <div class="steps__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula.<br><br>
                            Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="steps__item steps__item2">
                        <div class="steps__title">Choose your destination and package</div>
                        <div class="steps__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula.<br><br>
                            Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="steps__item steps__item3">
                        <div class="steps__title">Install your eSIM</div>
                        <div class="steps__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula.<br><br>
                            Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>