<div class="container">
    <div class="information">
        <div class="information__item">
            <svg class="text-center" width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="47" cy="47" r="47" fill="white"/>
                <path d="M64.2394 55.0743C62.7566 53.5509 58.5418 50.697 55.7793 50.697C55.1394 50.697 54.5808 50.8392 54.1238 51.1337C52.773 51.997 51.6965 52.6673 51.1785 52.6673C50.8941 52.6673 50.5894 52.4134 49.9191 51.8345L49.8074 51.7329C47.9488 50.1181 47.5527 49.7017 46.8316 48.9501L46.6488 48.7571C46.5168 48.6251 46.405 48.5032 46.2933 48.3915C45.6636 47.7415 45.2066 47.2743 43.5918 45.4462L43.5207 45.3649C42.7488 44.4915 42.241 43.9228 42.2105 43.5063C42.18 43.1001 42.5355 42.4399 43.4394 41.211C44.5363 39.7282 44.5769 37.9001 43.5715 35.7774C42.7691 34.1017 41.459 32.497 40.3011 31.0853L40.1996 30.9634C39.2043 29.7446 38.0465 29.1353 36.7566 29.1353C35.3246 29.1353 34.1363 29.9071 33.5066 30.3134C33.4558 30.3438 33.405 30.3845 33.3543 30.4149C31.9425 31.3087 30.9168 32.5376 30.5308 33.7868C29.9519 35.6657 29.566 38.1032 32.3386 43.1712C34.7355 47.5587 36.909 50.504 40.3621 54.0485C43.6121 57.3798 45.0543 58.4563 48.284 60.7923C51.8793 63.3923 55.3324 64.8853 57.7496 64.8853C59.9941 64.8853 61.7613 64.8853 64.28 61.8485C66.9207 58.6595 65.8238 56.7095 64.2394 55.0743Z" fill="#3B3B3B"/>
            </svg>
            <div class="information__title">Contact info</div>
            <div class="information__text mt-20">(067) 480-46-84</div>
            <div class="information__text mt-15">info@novamobile.com</div>
        </div>
        <div class="information__item">
            <svg class="text-center" width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="47" cy="47" r="47" fill="white"/>
                <path d="M64.2394 55.0743C62.7566 53.5509 58.5418 50.697 55.7793 50.697C55.1394 50.697 54.5808 50.8392 54.1238 51.1337C52.773 51.997 51.6965 52.6673 51.1785 52.6673C50.8941 52.6673 50.5894 52.4134 49.9191 51.8345L49.8074 51.7329C47.9488 50.1181 47.5527 49.7017 46.8316 48.9501L46.6488 48.7571C46.5168 48.6251 46.405 48.5032 46.2933 48.3915C45.6636 47.7415 45.2066 47.2743 43.5918 45.4462L43.5207 45.3649C42.7488 44.4915 42.241 43.9228 42.2105 43.5063C42.18 43.1001 42.5355 42.4399 43.4394 41.211C44.5363 39.7282 44.5769 37.9001 43.5715 35.7774C42.7691 34.1017 41.459 32.497 40.3011 31.0853L40.1996 30.9634C39.2043 29.7446 38.0465 29.1353 36.7566 29.1353C35.3246 29.1353 34.1363 29.9071 33.5066 30.3134C33.4558 30.3438 33.405 30.3845 33.3543 30.4149C31.9425 31.3087 30.9168 32.5376 30.5308 33.7868C29.9519 35.6657 29.566 38.1032 32.3386 43.1712C34.7355 47.5587 36.909 50.504 40.3621 54.0485C43.6121 57.3798 45.0543 58.4563 48.284 60.7923C51.8793 63.3923 55.3324 64.8853 57.7496 64.8853C59.9941 64.8853 61.7613 64.8853 64.28 61.8485C66.9207 58.6595 65.8238 56.7095 64.2394 55.0743Z" fill="#3B3B3B"/>
            </svg>
            <div class="information__title">Contact info</div>
            <div class="information__text mt-20">(067) 480-46-84</div>
            <div class="information__text mt-15">info@novamobile.com</div>
        </div>
        <div class="information__item">
            <svg class="text-center" width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="47" cy="47" r="47" fill="white"/>
                <path d="M64.2394 55.0743C62.7566 53.5509 58.5418 50.697 55.7793 50.697C55.1394 50.697 54.5808 50.8392 54.1238 51.1337C52.773 51.997 51.6965 52.6673 51.1785 52.6673C50.8941 52.6673 50.5894 52.4134 49.9191 51.8345L49.8074 51.7329C47.9488 50.1181 47.5527 49.7017 46.8316 48.9501L46.6488 48.7571C46.5168 48.6251 46.405 48.5032 46.2933 48.3915C45.6636 47.7415 45.2066 47.2743 43.5918 45.4462L43.5207 45.3649C42.7488 44.4915 42.241 43.9228 42.2105 43.5063C42.18 43.1001 42.5355 42.4399 43.4394 41.211C44.5363 39.7282 44.5769 37.9001 43.5715 35.7774C42.7691 34.1017 41.459 32.497 40.3011 31.0853L40.1996 30.9634C39.2043 29.7446 38.0465 29.1353 36.7566 29.1353C35.3246 29.1353 34.1363 29.9071 33.5066 30.3134C33.4558 30.3438 33.405 30.3845 33.3543 30.4149C31.9425 31.3087 30.9168 32.5376 30.5308 33.7868C29.9519 35.6657 29.566 38.1032 32.3386 43.1712C34.7355 47.5587 36.909 50.504 40.3621 54.0485C43.6121 57.3798 45.0543 58.4563 48.284 60.7923C51.8793 63.3923 55.3324 64.8853 57.7496 64.8853C59.9941 64.8853 61.7613 64.8853 64.28 61.8485C66.9207 58.6595 65.8238 56.7095 64.2394 55.0743Z" fill="#3B3B3B"/>
            </svg>
            <div class="information__title">Contact info</div>
            <div class="information__text mt-20">(067) 480-46-84</div>
            <div class="information__text mt-15">info@novamobile.com</div>
        </div>
    </div>
</div>