<div class="login">
    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-6 pe-0">
                <div class="loginSlider">
                    <div class="loginSlider__item">
                        <img src="images/login_slider_img_1.png" alt="">
                        <div class="loginSlider__info">
                            <div class="loginSlider__title">Building the future...</div>
                            <div class="loginSlider__desc manual-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                    <div class="loginSlider__item">
                        <img src="images/login_slider_img_2.png" alt="">
                        <div class="loginSlider__info">
                            <div class="loginSlider__title">Stay in touch!</div>
                            <div class="loginSlider__desc manual-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 login__right">
                <div class="toggle-button">
                    <div class="toggle-switch">
                        <div class="toggle-option active" data-option="explore" data-tab="login">Login</div>
                        <div class="toggle-option" data-option="explore-plus" data-tab="reg">Sign up</div>
                    </div>
                </div>
                <div class="" data-tab-target="login">
                    <div class="login__title">Welcome back 👋🏻</div>
                    <div class="manual-text text-center login__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. </div>
                    <div class="entry-btns">
                        <button type="button" class="btn bg-f1 p-3 h-auto d-flex gap-10 align-items-center justify-content-center">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_544_5586)">
                                <path d="M27.727 14.3225C27.727 13.3709 27.6499 12.414 27.4853 11.4778H14.28V16.8689H21.842C21.5283 18.6077 20.52 20.1458 19.0436 21.1232V24.6213H23.5551C26.2044 22.1829 27.727 18.582 27.727 14.3225Z" fill="#4285F4"/>
                                <path d="M14.28 28.001C18.0559 28.001 21.2402 26.7612 23.5602 24.6213L19.0487 21.1232C17.7935 21.9771 16.1731 22.4607 14.2852 22.4607C10.6328 22.4607 7.53596 19.9966 6.42481 16.6837H1.76929V20.2898C4.14592 25.0174 8.98663 28.001 14.28 28.001Z" fill="#34A853"/>
                                <path d="M6.41966 16.6837C5.83322 14.9449 5.83322 13.0621 6.41966 11.3234V7.71729H1.76928C-0.216388 11.6732 -0.216388 16.3339 1.76928 20.2898L6.41966 16.6837Z" fill="#FBBC04"/>
                                <path d="M14.28 5.54127C16.276 5.51041 18.2051 6.26146 19.6506 7.64012L23.6477 3.64305C21.1167 1.26642 17.7575 -0.0402103 14.28 0.000943444C8.98663 0.000943444 4.14592 2.98459 1.76929 7.71728L6.41966 11.3234C7.52567 8.00536 10.6276 5.54127 14.28 5.54127Z" fill="#EA4335"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_544_5586">
                                <rect width="28" height="28" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            Login with Google
                        </button>
                        <button type="button" class="btn bg-f1 mt-3 p-3 h-auto d-flex gap-10 align-items-center justify-content-center">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_544_5598)">
                                <path d="M14.875 13.125H28V0.875C28 0.392 27.608 0 27.125 0H14.875V13.125Z" fill="#4CAF50"/>
                                <path d="M13.125 13.125V0H0.875C0.392 0 0 0.392 0 0.875V13.125H13.125Z" fill="#F44336"/>
                                <path d="M13.125 14.875H0V27.125C0 27.608 0.392 28 0.875 28H13.125V14.875Z" fill="#2196F3"/>
                                <path d="M14.875 14.875V28H27.125C27.608 28 28 27.608 28 27.125V14.875H14.875Z" fill="#FFC107"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_544_5598">
                                <rect width="28" height="28" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            Login with Microsoft
                        </button>
                        <button type="button" class="btn bg-f1 mt-3 p-3 h-auto d-flex gap-10 align-items-center justify-content-center">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.3884 0C19.4536 0 19.5187 0 19.5876 0C19.7474 1.97462 18.9937 3.45005 18.0777 4.51851C17.179 5.57959 15.9482 6.6087 13.9576 6.45255C13.8248 4.50621 14.5797 3.14021 15.4945 2.07421C16.3429 1.08075 17.8982 0.196724 19.3884 0Z" fill="black"/>
                                <path d="M25.4143 20.5528C25.4143 20.5724 25.4143 20.5897 25.4143 20.6081C24.8549 22.3024 24.0569 23.7545 23.0831 25.102C22.1942 26.3254 21.1048 27.9717 19.1597 27.9717C17.4789 27.9717 16.3625 26.891 14.64 26.8615C12.8178 26.832 11.8157 27.7652 10.1497 28C9.95915 28 9.76858 28 9.58169 28C8.35831 27.823 7.371 26.8541 6.65173 25.9811C4.53079 23.4016 2.89184 20.0696 2.58691 15.8056C2.58691 15.3875 2.58691 14.9707 2.58691 14.5527C2.71601 11.501 4.19882 9.01982 6.16975 7.81734C7.20993 7.17799 8.63987 6.63331 10.2321 6.87675C10.9145 6.98249 11.6116 7.2161 12.2227 7.44725C12.8018 7.6698 13.526 8.06447 14.2121 8.04357C14.6768 8.03005 15.1391 7.78783 15.6076 7.61693C16.9797 7.12143 18.3249 6.55339 20.0978 6.82019C22.2286 7.14233 23.7409 8.08907 24.6754 9.54974C22.8729 10.6969 21.4478 12.4256 21.6913 15.3777C21.9077 18.0593 23.4667 19.6282 25.4143 20.5528Z" fill="black"/>
                            </svg>
                            Login with Apple
                        </button>
                    </div>
                    <div class="text login__divider"><span>or use email</span></div>
                    <div class="form-group mt-4">
                        <label>Email address</label>
                        <input type="text" class="form-input bg-f1" placeholder="example@email.com">
                    </div>
                    <div class="form-group mt-4">
                        <label>Password</label>
                        <div class="password">
                            <input type="password" class="form-input bg-f1" placeholder="at least 8 characters">
                            <svg class="" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.95245 3.2436C9.29113 3.19353 9.64051 3.16667 10.0003 3.16667C14.2545 3.16667 17.0461 6.9207 17.9839 8.40569C18.0974 8.58542 18.1542 8.67528 18.1859 8.81389C18.2098 8.91799 18.2098 9.08222 18.1859 9.18631C18.1541 9.32492 18.097 9.41538 17.9827 9.59631C17.7328 9.99179 17.3518 10.5476 16.8471 11.1504M5.6036 4.59586C3.80187 5.81808 2.57871 7.51615 2.01759 8.4044C1.90357 8.58489 1.84656 8.67514 1.81478 8.81373C1.79091 8.91783 1.7909 9.08203 1.81476 9.18613C1.84652 9.32473 1.90328 9.41459 2.01678 9.59432C2.95462 11.0793 5.74618 14.8333 10.0003 14.8333C11.7157 14.8333 13.1932 14.223 14.4073 13.3972M2.50035 1.5L17.5003 16.5M8.23258 7.23223C7.78017 7.68464 7.50035 8.30964 7.50035 9C7.50035 10.3807 8.61963 11.5 10.0003 11.5C10.6907 11.5 11.3157 11.2202 11.7681 10.7678" stroke="#C3C3C3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg class="hide" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27489 15.2957C2.42496 14.1915 2 13.6394 2 12C2 10.3606 2.42496 9.80853 3.27489 8.70433C4.97196 6.49956 7.81811 4 12 4C16.1819 4 19.028 6.49956 20.7251 8.70433C21.575 9.80853 22 10.3606 22 12C22 13.6394 21.575 14.1915 20.7251 15.2957C19.028 17.5004 16.1819 20 12 20C7.81811 20 4.97196 17.5004 3.27489 15.2957Z" stroke="#1C274C" stroke-width="1.5"/>
                            <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="#1C274C" stroke-width="1.5"/>
                            </svg>
                        </div>
                        <label class="text mt-3 text-end fw-600" role="button" id="forgot">Forgot password?</label>
                    </div>
                    <button type="button" class="btn btn-dark">Login</button>
                </div>
                <div class="hide" data-tab-target="reg">
                    <div class="login__title">Nice to meet you! 👋🏻</div>
                    <div class="manual-text text-center login__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. </div>
                    <div class="form-group mt-4">
                        <label>First name</label>
                        <input type="text" class="form-input bg-f1" placeholder="Jane">
                    </div>
                    <div class="form-group mt-4">
                        <label>Last name</label>
                        <input type="text" class="form-input bg-f1" placeholder="Doe">
                    </div>
                    <div class="form-group mt-4">
                        <label>Email</label>
                        <input type="text" class="form-input bg-f1" placeholder="example@email.com">
                    </div>
                    <div class="form-group mt-4">
                        <label>Password</label>
                        <div class="password">
                            <input type="password" class="form-input bg-f1" placeholder="at least 8 characters">
                            <svg class="" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.95245 3.2436C9.29113 3.19353 9.64051 3.16667 10.0003 3.16667C14.2545 3.16667 17.0461 6.9207 17.9839 8.40569C18.0974 8.58542 18.1542 8.67528 18.1859 8.81389C18.2098 8.91799 18.2098 9.08222 18.1859 9.18631C18.1541 9.32492 18.097 9.41538 17.9827 9.59631C17.7328 9.99179 17.3518 10.5476 16.8471 11.1504M5.6036 4.59586C3.80187 5.81808 2.57871 7.51615 2.01759 8.4044C1.90357 8.58489 1.84656 8.67514 1.81478 8.81373C1.79091 8.91783 1.7909 9.08203 1.81476 9.18613C1.84652 9.32473 1.90328 9.41459 2.01678 9.59432C2.95462 11.0793 5.74618 14.8333 10.0003 14.8333C11.7157 14.8333 13.1932 14.223 14.4073 13.3972M2.50035 1.5L17.5003 16.5M8.23258 7.23223C7.78017 7.68464 7.50035 8.30964 7.50035 9C7.50035 10.3807 8.61963 11.5 10.0003 11.5C10.6907 11.5 11.3157 11.2202 11.7681 10.7678" stroke="#C3C3C3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg class="hide" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27489 15.2957C2.42496 14.1915 2 13.6394 2 12C2 10.3606 2.42496 9.80853 3.27489 8.70433C4.97196 6.49956 7.81811 4 12 4C16.1819 4 19.028 6.49956 20.7251 8.70433C21.575 9.80853 22 10.3606 22 12C22 13.6394 21.575 14.1915 20.7251 15.2957C19.028 17.5004 16.1819 20 12 20C7.81811 20 4.97196 17.5004 3.27489 15.2957Z" stroke="#1C274C" stroke-width="1.5"/>
                            <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="#1C274C" stroke-width="1.5"/>
                            </svg>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label>Confirm password</label>
                        <div class="password">
                            <input type="password" class="form-input bg-f1" placeholder="at least 8 characters">
                            <svg class="" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.95245 3.2436C9.29113 3.19353 9.64051 3.16667 10.0003 3.16667C14.2545 3.16667 17.0461 6.9207 17.9839 8.40569C18.0974 8.58542 18.1542 8.67528 18.1859 8.81389C18.2098 8.91799 18.2098 9.08222 18.1859 9.18631C18.1541 9.32492 18.097 9.41538 17.9827 9.59631C17.7328 9.99179 17.3518 10.5476 16.8471 11.1504M5.6036 4.59586C3.80187 5.81808 2.57871 7.51615 2.01759 8.4044C1.90357 8.58489 1.84656 8.67514 1.81478 8.81373C1.79091 8.91783 1.7909 9.08203 1.81476 9.18613C1.84652 9.32473 1.90328 9.41459 2.01678 9.59432C2.95462 11.0793 5.74618 14.8333 10.0003 14.8333C11.7157 14.8333 13.1932 14.223 14.4073 13.3972M2.50035 1.5L17.5003 16.5M8.23258 7.23223C7.78017 7.68464 7.50035 8.30964 7.50035 9C7.50035 10.3807 8.61963 11.5 10.0003 11.5C10.6907 11.5 11.3157 11.2202 11.7681 10.7678" stroke="#C3C3C3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg class="hide" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27489 15.2957C2.42496 14.1915 2 13.6394 2 12C2 10.3606 2.42496 9.80853 3.27489 8.70433C4.97196 6.49956 7.81811 4 12 4C16.1819 4 19.028 6.49956 20.7251 8.70433C21.575 9.80853 22 10.3606 22 12C22 13.6394 21.575 14.1915 20.7251 15.2957C19.028 17.5004 16.1819 20 12 20C7.81811 20 4.97196 17.5004 3.27489 15.2957Z" stroke="#1C274C" stroke-width="1.5"/>
                            <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="#1C274C" stroke-width="1.5"/>
                            </svg>
                        </div>
                        <label class="custom-checkbox mt-2">
                            <input type="checkbox" value="value-1">
                            <span>By continuing, you accept our <a href="#" class="ms-1 fw-600">Terms and Conditions</a> and the<a href="#" class="ms-1 fw-600"> Privacy Policy</a></span>
                        </label>
                    </div>
                    <button type="button" class="btn btn-dark">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>