<div class="login">
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <div class="loginSlider">
                    <div class="loginSlider__item">
                        <img src="images/login_slider_img_1.png" alt="">
                        <div class="loginSlider__info">
                            <div class="loginSlider__title">Building the future...</div>
                            <div class="loginSlider__desc manual-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                    <div class="loginSlider__item">
                        <img src="images/login_slider_img_2.png" alt="">
                        <div class="loginSlider__info">
                            <div class="loginSlider__title">Stay in touch!</div>
                            <div class="loginSlider__desc manual-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 login__right">
                <div class="toggle-button">
                    <div class="toggle-switch">
                        <div class="toggle-option active" data-option="explore">Login</div>
                        <div class="toggle-option" data-option="explore-plus">Sign up</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>