<!-- Modal -->
<div class="modal fade" id="modalTariff" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="modalTariff" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column align-items-center">
        <img src="images/modal_tariff_img.png" alt="">
        <h1 class="modal-title">Pay for 2 months by 20/07/24 and get one free!</h1>
      </div>
        <div class="modal-body">
          <div class="manual-text modal-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            <br>
            <br>
            Morbi varius, metus a suscipit lobortis, sem nulla imperdiet risus, sed dignissim nunc lectus non massa. Nam vitae mi feugiat risus ultrices aliquam. 
            <br>
            <br>
            Pellentesque porta, nisi ac viverra ultrices, sapien libero faucibus lorem, in volutpat tellus ipsum sit amet neque. Aliquam tempor diam id elit laoreet, eget consequat justo facilisis.
          </div>
        </div>
        <div class="modal-footer gap-10">
            <button type="button" class="btn btn-red w-100" data-bs-dismiss="modal" id="">Close</button>
            <button type="button" class="btn btn-dark h-48 d-flex align-items-center gap-10" data-bs-toggle="modal" data-bs-target="#modalTariffPackages" id="chooseTariff">Choose a tariff</button>
        </div>
    </div>
  </div>
</div>