<!-- Modal -->
<div class="modal fade" id="modalChangeAvatar" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="modalChangeAvatar" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column align-items-center">
        <h1 class="modal-title fs-5">Change your profile picture</h1>
      </div>
      <form action="#" name="" method="get" id="form_acc_delete">
        <div class="modal-body">
          <div class="manual-text modal-desc">
            Click the button to add a file. Add an image in .jpg, .gif, .png, file size up to 5 MB
          </div>
        </div>
        <div class="modal-footer flex-column gap-10">
            <button type="button" class="btn btn-dark h-48 d-flex align-items-center gap-10" id="addAvatar">
                <svg width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.972 8.288C22.608 3.657 18.723 0 14 0C9.96 0 6.492 2.624 5.373 6.451C2.181 7.559 0 10.583 0 14C0 18.411 3.589 22 8 22H21C24.86 22 28 18.86 28 15C28 11.851 25.93 9.148 22.972 8.288ZM18.924 11.383C18.769 11.756 18.404 12 18 12H16V16C16 17.104 15.104 18 14 18C12.896 18 12 17.104 12 16V12H10C9.596 12 9.231 11.756 9.076 11.383C8.921 11.009 9.007 10.579 9.293 10.293L13.293 6.293C13.488 6.098 13.744 6 14 6C14.256 6 14.512 6.098 14.707 6.293L18.707 10.293C18.993 10.579 19.079 11.009 18.924 11.383Z" fill="white"/>
                </svg>
                Continue
                <input type="file" name="avatar" id="fileInput">
            </button>
            <button type="button" class="btn btn-red w-100" data-bs-dismiss="modal" id="">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>