<div class="questions">
    <div class="container">
        <div class="sectionTitle">Have any questions for us?</div>
        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet</div>
        <div class="questions__content">
            <div class="col-7"></div>
            <div class="col-5"></div>
        </div>
    </div>
</div>