<section class="section recruitment howDo">
        <div class="container">
            <div class="sectionTitle">Our Recruitment Process</div>
            <div class="manual-text text-center">Our hiring process: together to new heights and opportunities. Learn how we select and attract the best talent for our team, ensuring success and development for everyone.</div>
            <div class="col-lg-10 mx-auto howDo__steps">
                <div class="howDo__steps-border"></div>
                <div class="howDo__steps-item">
                    <div class="howDo__steps-count">1</div>
                    <div class="howDo__steps-info">
                        <div class="manual-title">Application</div>
                        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis turpis vel fringilla pretium. </div>
                    </div>
                </div>
                <div class="howDo__steps-item">
                    <div class="howDo__steps-count">2</div>
                    <div class="howDo__steps-info">
                        <div class="manual-title">Interview</div>
                        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis turpis vel fringilla pretium. </div>
                    </div>
                </div>
                <div class="howDo__steps-item">
                    <div class="howDo__steps-count">3</div>
                    <div class="howDo__steps-info">
                        <div class="manual-title">Decision</div>
                        <div class="manual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis turpis vel fringilla pretium. </div>
                    </div>
                </div>
            </div>
        </div>
</section>