
<div class="rules">
    <div class="container">
        <h1 class="sectionTitle">Modern Slavery Policy</h1>
        <div class="manual-title">Introduction</div>
        <div class="manual-text">
            We are committed to acting ethically and with integrity in all our business dealings and relationships and to ensure modern slavery is not taking place anywhere in our own business, or in any of our supply chains.
            <br>
            <br>
            Modern slavery is a crime and a violation of fundamental human rights. All types of modern slavery have in common the deprivation of a person's liberty by another in order to exploit them for personal or commercial gain.
            <br>
            <br>
            We are also committed to ensuring there is transparency in our own business and in our approach to tackling modern slavery throughout our business relationships, consistent with our disclosure obligations under the Modern Slavery Act 2015.
            <br>
            <br>
            We expect high standards from all of our subcontractors, suppliers and other business partners and have made this a contractual term in our agreements with significant suppliers wherever possible.
            <br>
            <br>
            This policy applies to all persons working for us or on our behalf in any capacity, including employees at all levels, directors, officers, agency workers, seconded workers, interns, agents, contractors, external consultants, third-party representatives and business partners.
            This policy does not form part of any employee's contract of employment and we may amend it at any time.
        </div>
        <div class="manual-title">Responsibility for the policy</div>
        <div class="manual-text">
            The management of the firm has overall responsibility for ensuring this policy complies with our legal and ethical obligations, and that all of our people comply with it.
            <br>
            <br>
            The directors have primary and day-to-day responsibility for implementing this policy, but the relevant business unit leads provide assistance with reviewing the risk profile of our supply chain to ensure that any procedures implemented are effective in countering modern slavery.
        </div>
        <div class="manual-title">Compliance with the policy</div>
        <div class="manual-text">
            You must ensure that you read, understand and comply with this policy.
            <br>
            <br>
            The prevention, detection and reporting of modern slavery in any part of our business or supply chains is the responsibility of all those working for us or under our control. You are required to avoid any activity that might lead to, or suggest, a breach of this policy.
            <br>
            <br>
            Although you should report any concerns regarding modern slavery and/or human trafficking in any parts of our business or supply chains in accordance with our whistleblowing policy, you are also encouraged to discuss a specific matter (or our policy or relevant legislation) with any member of the legal department.
            <br>
            <br>
            If you are in any doubt about whether a particular act or working conditions in any of our business relationships may contravene any aspect of this policy then err on the side of caution and report it in accordance with the whistleblowing policy, or speak to a director.
            <br>
            <br>
            We encourage openness and will support anyone who raises genuine concerns in good faith in accordance with the firm's whistleblowing policy, even if they turn out to be mistaken. We are committed to ensuring no one suffers any detrimental treatment as a result of reporting in good faith their knowledge, or suspicion, that modern slavery is taking place in any part of our business or in any of our supply chains.
        </div>
        <div class="manual-title">Communication and awareness of this policy</div>
        <div class="manual-text">
            Our zero-tolerance approach to modern slavery is communicated to all significant suppliers, contractors and business partners at the outset of our business relationship with them and reinforced as appropriate thereafter.
        </div>
        <div class="manual-title">Breaches of this policy</div>
        <div class="manual-text">
            Any employee who breaches this policy could face disciplinary action, which could result in dismissal for misconduct or gross misconduct. We may terminate our relationship with other individuals and organisations working on our behalf if they breach this policy.
        </div>
    </div>
</div>