
<div class="rules privacyPolicy">
    <div class="container">
        <h1 class="sectionTitle">Privacy Policy</h1>
        <div class="rules__date"><span>Effective date:</span> 3 June 2024</div>
        <div class="manual-title">1. VALIDITY OF GENERAL TERMS AND CONDITIONS</div>
        <p class="manual-text">
           The following Terms and Conditions shall apply to all services rendered by AIRGSM PTE. LTD., hereafter referred to as Airalo, in connection with prepaid eSIM reselling. The following Terms and Conditions are provided on the website https://www.airalo.com. Airalo may accept variant clauses only in the case of an explicit written agreement. This section defines various categories of individuals and entities who interact with Airalo's services, platforms, and applications. Understanding these roles is crucial for interpreting the rights, obligations, and conditions described in these Terms and Conditions (T&C).
        </p>
        <ol>
            <li>
                <strong>End Users:</strong>
                Individuals who use and interact directly with Services via their Airalo account for their personal use.
            </li>
            <li>
                <strong>Business Users:</strong>
                Airalo provides services to entities (“Business Users”) who directly and indirectly provide us with End Customer’s personal information in connection with those Business Users’ own business and activities.
            </li>
            <li>
                <strong>End Customers:</strong>
                 Individuals who receive services ordered by other Airalo account owners, for example, when you do business with, or otherwise transact with a Business User.
            </li>
            <li>
                <strong>Job applicants:</strong>
                Individuals who submit a job application to Airalo.
            </li>
        </ol>
        <br>
        <p class="manual-text">
            The term "Customer" as used throughout this document will refer to any individual or entity engaging with Airalo's services, including End Users, Business Users, and End Customers, as applicable based on the context of the usage. This broad definition ensures that our T&C encompasses all interactions with our services, providing a clear and comprehensive understanding of the rights and responsibilities of all parties involved.
        </p>
        <div class="manual-title">2. DESCRIPTION OF SERVICES</div>
        <div class="manual-subtitle">2.1. eSIM RESELLING</div>
        <p class="manual-text">
            Airalo resells prepaid eSIMs. The Customer registers and buys eSIMs on the Airalo website (https://www.airalo.com) and/or Airalo App.
        </p>
        <div class="manual-subtitle">2.2. REGISTRATION FOR USING AIRALO SERVICES</div>
        <p class="manual-text">
            All customers, including End Users, Business Users, End Customers, and Job applicants as defined in Section 1, must accept the General Terms and Conditions to utilize Airalo services. During the registration process, the following information must be provided:
        </p>
        <ol>
            <li>
                <strong>For End Users:</strong>
                Personal information such as First Name, Last Name, and Email address is required for direct interactions and transactions on the Airalo website (https://www.airalo.com) or via the Airalo App.
            </li>
            <li>
                <strong>For Business Users:</strong>
                Additional information is necessary to accommodate the unique needs of businesses. This includes Company Name, Company Address, Company Users' email addresses, Company Website, Region, Industry, Phone Number, relevant contacts, and other relevant details. This information helps in tailoring our services to better suit the operational requirements and service delivery to their End Customers.
            </li>
            <li>
                <strong>For End Customers:</strong>
                 When services are ordered by another Airalo account owner, such as a Business User, the necessary information to facilitate this transaction is handled by the initiating party. Business Users are responsible for ensuring that the personal information of End Customers is collected in compliance with applicable data protection regulations.
            </li>
        </ol>
        <p class="manual-text">
            In instances where Airalo services are provided through intermediaries (e.g., hotels or travel agencies), the intermediary may provide the required registration information on behalf of the Customer.
        </p>
        <p class="manual-text">
            To adapt to evolving service requirements and enhance user experience, Airalo reserves the right to collect additional information from all categories of customers as deemed necessary. This collection of additional information will be conducted in a manner that respects privacy and complies with data protection laws, without necessitating further changes to these Terms and Conditions. Customers will be informed accordingly about the collection of any such additional information through our standard communication channels.
        </p>
        <div class="manual-subtitle">2.3. AIRALO ENGAGEMENTS</div>
        <p class="manual-text">
           Airalo shall use reasonable endeavors to provide Customer quality service. However, Airalo does not guarantee that the service will not be interrupted, provided on time, and be safe or fault-free
        </p>
        <div class="manual-subtitle">2.4. CUSTOMER ENGAGEMENTS</div>
        <p class="manual-text">
           In using the Equipment or Services provided by Airalo, the Customer must not engage in any action: that is abusive, illegal, or fraudulent; that causes the Network to be impaired or damaged. When the Customer breaches its obligations under Sec. 2.4, Airalo may suspend the Customer's use of the Service. During any period of suspension, the Customer shall continue to pay all Charges due under this Agreement in respect of the suspended Services.
        </p>
        <div class="manual-subtitle">2.5. DEVICE COMPATIBILITY</div>
        <p class="manual-text">
           The Customer is responsible for ensuring that their device is eSIM compatible and network-unlocked. Device compatibility may depend on the carrier and country of origin; the Customer must check the list of eSIM-compatible devices provided at the checkout. By checking the box that confirms that the Customer's device is eSIM compatible, the Customer is then held responsible for the accuracy of the information they provide. 
            <br>
            <br>
           The eSIM compatibility list is not exhaustive, meaning newly announced eSIM-compatible devices may still need to be added.
        </p>
        <div class="manual-title">3. START, DURATION, AND TERMINATION OF THE CONTRACT</div>
        <p class="manual-text">
           The service contract between Airalo and the Customer begins upon completing the order on the Airalo website (https://www.airalo.com, including any subdomains associated with Airalo), via the Airalo app, through our APIs, on the Partner Platform, or via any other product provided by Airalo that allows customers to make an order.
            The Activation of the eSIM and acknowledgment of the Activation Policy is the Customer's responsibility. 
            <br>
            <br>
           The contract will be terminated for End Users if they do not have an active data package or have deleted the eSIM from the target device. However, for Business Users, the termination of the contract is subject to the terms of any specific agreement signed between the Business User and Airalo, or their active status on the Partner Platform. For Business Users with such agreements or active platform participation, the contract remains in effect even in the absence of an active data package or if an eSIM is deleted from a device, reflecting the ongoing partnership and commitments between Airalo and the Business User.
        </p>
        <div class="manual-title">4. CHARGES AND PAYMENT</div>
        <div class="manual-subtitle">4.1. PAYMENT CONDITIONS</div>
        <p class="manual-text">
            Airalo offers various payment methods for its services, including but not limited to Credit/Debit Card, PayPal, Google Pay, Apple Pay, and Alipay. 
            <br>
            <br>
            The currency of payment is in US Dollars ($) and may include various other currencies, with the currency of payment being determined during the transaction. 
            <br>
            <br>
            The credit card transaction will be processed and secured by Airalo-approved payment service providers, including but not limited to PayPal (https://paypal.com/) and Stripe (https://stripe.com/), and additional providers chosen by Airalo for each transaction.
        </p>
        <div class="manual-subtitle">4.1.1. Automatic Renewals for End Users</div>
        <p class="manual-text">
            In addition to our existing payment options, Airalo offers continuous access to our services without the need for manual renewal. This model is intended for End Users seeking uninterrupted service and convenience. 
            <br>
            <br>
            Automatic Charges: Under this model, renewal fees will be charged automatically to the End User's preferred payment method when their available data drops below a certain threshold at the beginning of each billing cycle
            <br>
            <br>
            Cancellation Policy: End Users can cancel their renewal at any time. Cancellation will take effect at the end of the current billing cycle, allowing users to continue accessing the service until the cycle concludes. To cancel, users can manage their settings directly within their Airalo account or contact our support team for assistance
        </p>
        <div class="manual-subtitle">4.2. CHARGES FOR USE</div>
        <p class="manual-text">
           4.2.1. Airalo states all Charges are inclusive of VAT unless otherwise specified. All prices and fees for eSIM purchases by Business Users on the Airalo platform are exclusive of applicable taxes unless stated otherwise. Business Users are responsible for determining and covering all taxes associated with their purchase of eSIMs from Airalo
            <br>
            <br>
            4.2.2. The Customer shall not be entitled to offset any of its claims against claims of Airalo, except where the Customer's claims are undisputed or have been confirmed by final court judgment.
        </p>
        <div class="manual-subtitle">4.2.3. Invoicing</div>
        <p class="manual-text">
          Airalo implements a systematic approach to billing Business Users for the utilization of Airalo Credits, which are employed for the acquisition of eSIMs, top-ups, and other Airalo products and services via the Partner Platform. This process is designed to ensure clarity and accountability in the financial transactions between Airalo and its Business Users
            <br>
            <br>
            4.2.3.1. Issuance of Invoices: Airalo issues invoices to Business Users detailing the Airalo Credits consumed for purchasing eSIM and top-up packages within a specified billing period. These invoices provide a comprehensive breakdown of charges incurred, enabling Business Users to track and manage their expenses effectively.
            <br>
            <br>
            4.2.3.2. Payment Obligations: Upon receipt of an invoice, Customers are required to fulfill their payment obligations within the deadlines stipulated on the invoice. It is imperative for Business Users to adhere to these time frames to ensure uninterrupted access to Airalo services and maintain a positive standing within the Airalo Partner Platform.
        </p>
        <p class="manual-text mb-0">4.2.3.3. Consequences of Late Payment:</p>
        <ol class="ps-4">
            <li>Service Suspension: In the event that a Business User fails to settle an invoice within the specified time frame, Airalo reserves the right to temporarily suspend the provision of services until full payment is received. This measure is taken to ensure the sustainability of our service offerings and the fairness of our billing system.</li>
            <li>Interest and Damages: Additionally, Airalo may impose interest on overdue amounts at a rate specified in the invoice or as allowed by law. Business Users may also be liable for any damages or additional costs incurred by Airalo as a result of late payment. This includes, but is not limited to, administrative costs and legal fees associated with the recovery of debts.</li>
        </ol>
        <p class="manual-text">4.2.3.4. Invoices are predominantly issued in USD. However, Airalo reserves the right to issue invoices in other currencies as deemed necessary or as mutually agreed upon with the Business User.</p>
        <p class="manual-text">Airalo emphasizes the importance of timely payments to maintain a healthy business relationship and the continuity of service provision. We urge Business Users to communicate promptly with our support team in case of any billing discrepancies or payment difficulties to find a mutually agreeable solution.</p>
        <div class="manual-subtitle">4.2.4. Prepaid Transactions for Business Users</div>
        <p class="manual-text">Business Users engage in a unique transaction process on the Airalo platform, centered around the purchase of Airalo Credits. These credits serve as the currency within the platform, enabling Business Users to procure eSIMs and top-up services tailored to their operational needs. Business Users may also choose to use credit or debit cards for purchases made on the Partner Platform.
        <br>
        <br>
        4.2.4.1. Purchasing Airalo Credits: The initial step for Business Users is to acquire Airalo Credits. This process is designed to be straightforward and flexible, offering various payment methods to suit different business requirements. These methods include, but are not limited to, credit/debit cards, bank transfers, and electronic payment solutions, ensuring a wide range of options to accommodate the diverse financial preferences of our business clientele.
        <br>
        <br>
        4.2.4.2. Utilizing Airalo Credits: Once Airalo Credits are added to their account, Business Users can seamlessly use these credits to purchase eSIMs, top-ups, and other Airalo products and services. By operating on a credit-based system, Business Users can plan and allocate their spending on telecommunications services according to their specific business cycles and demands.
        <br>
        <br>
        For further details on purchasing and utilizing Airalo Credits, or to explore the most suitable payment methods for your business, we encourage Business Users to visit the Airalo Partner Platform or contact our dedicated support team.
        </p>
        <div class="manual-subtitle">4.2.5. Postpaid Transactions for Business Users</div>
        <p class="manual-text">
            Postpaid transactions represent a flexible payment model tailored for Business Users, offering the convenience of receiving eSIM and top-up packages prior to payment. This approach aligns with the needs of businesses seeking operational flexibility and efficiency in managing their connectivity solutions. A postpaid transaction allows Business Users to receive eSIM, top-ups, and other Airalo products and services, with the payment obligation arising at a later date. The specifics of this payment arrangement, including the due date and payment terms, are clearly outlined in the invoice provided by Airalo. This method facilitates immediate access to necessary services while ensuring payment flexibility.
            <br>
            <br>
            4.2.5.1. Credit Limit System: To support this model, Airalo may implement a credit limit system. This system authorizes Business Users to utilize credit for purchasing eSIMs, top-ups, and other Airalo products and services to a predetermined amount. The setting of these credit limits can be determined unilaterally by Airalo or negotiated with the Business User, depending on the agreement's terms. This feature is designed to offer businesses a manageable and scalable way to meet their connectivity needs without immediate financial outlay.
            <br>
            <br>
            4.2.5.2. Eligibility Criteria: It is important to note that not all Business Users automatically qualify for postpaid payment options. Airalo reserves the right to select eligible customers based on various criteria, ensuring that this payment model aligns with the business practices and risk management policies of both parties. Criteria for eligibility may include, but are not limited to, the Business User's transaction history, creditworthiness, and the duration of the business relationship with Airalo.
            <br>
            <br>
            By offering postpaid transactions, Airalo aims to provide a high degree of flexibility and trust to its Business Users, allowing them to prioritize their operational requirements while managing payments in a manner that suits their financial workflows.
        </p>
        <div class="manual-title">5. DELIVERY</div>
        <p class="manual-text">
            End Users will see the purchased eSIM under the "My eSIMs" tab on the Airalo website (https://www.airalo.com) and/or the Airalo app. The Customer will receive a confirmation email after the purchase. All the information for installing the eSIM will be available only on the user's Airalo account. 
            <br>
            <br>
            Business Users will have their eSIMs displayed within the Partner Platform, facilitating the management and deployment of eSIMs and top-up packages, tailored to the business's unique requirements. 
            <br>
            <br>
            Recognizing the diverse needs of our Customers, Airalo delivers its products and services through various methods, depending on the chosen integration and the specific products and services utilized.
        </p>
        <div class="manual-title">6. REFUND / CANCELLATION / MODIFICATION POLICY</div>
        <p class="manual-text">
           The Customer has the right to ask for a refund or eSIM replacement if the eSIM cannot be installed and used due to a technical problem from Airalo.
        </p>
        <div class="manual-subtitle">6.1. REFUNDS AND CANCELLATION</div>
        <p class="manual-text">
           6.1.1. POLICIES AND GUIDELINES
        </p>
        <ol>
            <li>
                6.1.2. A refund request can be made within thirty (30) days from the date of purchase when the activation is no longer possible following extensive collaborative troubleshooting.
            </li>
            <li>
                6.1.3. Cooperation with the Customer to resolve the issue promptly is required for a refund to be granted.
            </li>
            <li>
                6.1.4. Each data package has its own validity period. No refund of any form will be offered for the remaining data when the validity period expires.
            </li>
            <li>
                6.1.5. Compensation: No refund or remuneration of any kind will be issued due to charges from alternate phones, alternate SIM cards, alternate providers, hotel phones, or other charges that are not directly linked to the Customer's Airalo eSIM account. (See section 7. LIABILITY AND WARRANTY in our Terms and Conditions)
            </li>
            <li>
                6.1.6. Fraudulent purchases: Airalo reserves the right to refuse any form of refund if there is evidence of abuse, violation of our Terms and Conditions, or any fraudulent activity connected with using Airalo products and services.
            </li>
            <li>
                6.1.7. Unauthorized purchases: The case will be subject to investigation and approval before processing any refund. Airalo reserves the right to suspend any account associated with fraudulent activity.
            </li>
            <li>
                6.1.8. Accidental purchases: Once Customers install the eSIM, it will be considered used. No refunds will be offered.
            </li>
            <li>
                6.1.9. Incorrect charges: If the Customer reasonably and in good faith disputes an invoice or part of it, the Customer shall notify Airalo of such a dispute within twelve (12) days of receipt of the invoice, providing details of why the invoiced amount is incorrect and, if possible, how much the Customer considers due. (See details in section 4.2 CHARGES FOR USE under Terms and Conditions)
            </li>
            <li>
                6.1.10. Replacements: eSIMs purchased exclusively with Airmoney earned from vouchers can be replaced within 30 days from the date of purchase.
            </li>
            <li>    
                6.1.11. Other Reasons: If the refund request is not within the above, we will investigate the request on a case-by-case basis. If the refund is approved, a processing fee may apply. The maximum refund of credit a Customer can apply for must be equal to or less than the total amount they paid.
            </li>
        </ol>
        <p class="manual-text">
           6.1.12. USE OF DIGITAL CURRENCIES (AIRMONEY & CREDITS)
        </p>
        <p class="manual-text mb-0">
           Airmoney and Credits are digital currencies available to our Customers for the purchase of eSIMs and associated services available on the Airalo platforms.
        </p>
        <ol class="mb-3">
            <li>
                6.1.12.1. Airmoney
            </li>
            <li>
                6.1.12.1.1. Airmoney is a proprietary credit reward system exclusive to Airalo End Users that grants cashback as Airmoney to the user's Airalo account.
            </li>
            <li>
                The reward system has different levels, based on the purchase amount. Each level provides different cashback amounts as Airmoney. Airalo may change any feature of Airmoney, including the rewards system levels and how the program is structured.
            </li>
            <li>
                6.1.12.1.2. Customers can earn Airmoney as a purchase reward for paid purchases.
            </li>
            <li>
                6.1.12.1.3. Customers cannot earn Airmoney if a discount or referral reward is applied to the purchase.
            </li>
            <li>
                6.1.12.1.4. Customers can pay with Airmoney only for their purchases or combine it with one of the supported payment methods.
            </li>
            <li>
                6.1.12.1.5. In a combined payment, the Airmoney reward is proportional to the amount paid through one of the supported payment methods.
            </li>
            <li>
                6.1.12.1.6. Any existing Airmoney in a Customer's account is not convertible to any other form of credit.
            </li>
            <li>
                6.1.12.1.7. Any purchases made using Airmoney will be credited to the Customer's Airalo account as Airmoney.
            </li>
            <li>
                6.1.12.1.8. The transfer of any earned or to be earned Airmoney in a Customer's account is at the sole discretion of Airalo, and the Customer does not have the inherent right to request such transfers. Airalo reserves the right to permit or prohibit Airmoney transfers at any time.
            </li>
            <li>
                6.1.12.1.9. Airalo reserves the right to limit the validity of Airmoney issued as part of this program at any time and for any reason.
            </li>
            <li>
                6.1.12.1.10. Airalo reserves the right to determine the audience for granting Airmoney.
            </li>
            <li>
                6.1.12.1.11. If Airmoney is provided, the Customer has no rights to choose the amount of cashback will be applicable for them as this is determined at Airalo's sole discretion.
            </li>
            <li>
                6.1.12.1.12. The Customer will be responsible and liable for payment, withholding, remittance, and reporting of any taxes, levies, imports, duties, charges, fees, and withholdings that may arise from participation in the program (including corporate/individual income tax, VAT, sales taxes, and such other applicable national, governmental, provincial, state, municipal, or local taxes or levies and associated late payment interests and penalties imposed by any authority for failure to pay, withhold and report).
            </li>
            <li>
                6.1.12.1.13. Airalo reserves the right to (wholly or partly) withhold, reject, amend, suspend, revoke, or cancel, or deny benefit or use of the program to any Customer at any time and for any reason (without prior notice).
            </li>
            <li>
                6.1.12.1.14. Airalo is at all times entitled to cease and/or suspend its obligations in these Terms until it has been able to identify and verify the relevant Customer or in the event of (alleged) fraudulent activities by either Customer or any other misuse of the program.
            </li>
            <li>
                6.1.12.2. Airalo Credits
            </li>
            <li>
                A specific payment method designed for Airalo Business Users on the Airalo Partner Platform, enabling the purchase of eSIM, top-ups, and other Airalo products and services, and acting as a medium for issuing refunds.
            </li>
            <li>
                6.1.12.2.1. Airalo Credits are intended for use by companies through the Partner Platform, facilitating transactions related to Airalo's services. These credits are non-refundable and cannot be reclaimed by the Customer.
            </li>
            <li>
                6.1.12.2.2. Unused Airalo Credits that remain in the Customer's account at the time of the agreement's termination will continue to be recognized as the property of Airalo. It is important to note that these credits are not automatically refunded upon the termination of the agreement. To initiate a refund or discuss potential options regarding unused credits, Customers are required to submit a written request to Airalo.
            </li>
            <li>
                6.1.12.2.3 Airalo Business Users are assigned a credit limit for post-paid transactions, indicating the maximum allowed expenditure for purchasing eSIM and top-up packages. 
            </li>
        </ol>
        <p class="manual-text">
           Exceeding this limit without subsequent payment will restrict the ability to make further purchases.
            This section outlines the mechanisms and policies governing the use of Airalo's digital currencies, Airmoney for End Users, and Airalo Credits for Business Users, ensuring clarity on their application, benefits, and limitations within the Airalo ecosystem.
        </p>
        <div class="manual-subtitle">6.1.13. REFUND PROCESS</div>
         <p class="manual-text">
           To request a refund, contact Airalo's support team via the Contact Us page or send a message to support@airalo.com. Please be aware that our refund policy above will apply. 
            Depending on the nature of the issue, Customers will be asked for further information to support their refund request, such as screenshots of the device settings for technical issues or details of why the invoiced amount is incorrect and, if possible, how much the Customer considers is due, etc.
            <br>
            <br>
            Please refer to section 6.1.2 in this same document for refunds related to technical issues. Customers will have the option to credit back via their original payment method or as Airmoney issued to their account. (See 6.1.12.1.6 for Airmoney purchases) Refund to the original method: Once a refund is approved and issued, it can take up to thirty (30) business days to appear on a statement depending on the bank. Airmoney: Once processed, Airmoney will be credited to the Customer's account. 
            <br>
            <br>
            End Customers who have purchased Airalo services through a reseller are not eligible for direct refunds from Airalo. These users should approach the Airalo Business Users for refund requests. Airalo is committed to customer satisfaction but must defer to the policies of our reseller partners for transactions made outside our direct sales channels.
            6.1.13.1. Airalo Business Users refunds for transactions made directly with Airalo can be processed through Airalo Credits or as credit notes. This provides a flexible alternative for managing refunds, allowing customers to apply these credits or notes towards future purchases or services on the Airalo platform.
        </p>
        <div class="manual-subtitle">6.2. MODIFICATION</div>
        <p class="manual-text">
           The eSIM data packages from Airalo are offered as-is, and no further modifications or customization can be made based on individual requests once purchased.
        </p>
        <div class="manual-title">7. LIABILITY AND WARRANTY</div>
        <p class="manual-text">
           Airalo is not responsible for detriments arising due to the proposed service not being constantly available. Airalo provides no guarantee of constant availability of the network service. For any request, please write an email to support@airalo.com.
        </p>
        <div class="manual-title">8. eSIM RECYCLING PROCESS AND ACTIVATION</div>
        <p class="manual-text">
           Airalo implements an eSIM recycling process to ensure optimal service delivery. Upon eSIM purchase, customers are required to activate the eSIM within a specified time frame, as indicated in the activation guidelines provided during the purchase process. It is the user's responsibility to activate the purchased eSIM within the designated time frame. Failing to activate the eSIM within this period may lead to its expiration, rendering the eSIM unusable. 
            <br>
            <br>
            Once expired, the eSIM cannot be reactivated, and the user will need to initiate a new purchase if they wish to obtain a functioning eSIM. Users are advised to review and adhere to the provided activation guidelines to ensure a seamless eSIM activation process.
        </p>
        <div class="manual-title">9. PRICES AND PROMOTIONS</div>
        <p class="manual-text">
           Prices refer to the cost at which Airalo offers its eSIM packages and associated services to Customers. Airalo may offer promotional prices for its eSIM packages for a limited time. These promotions are subject to specific terms and conditions. The duration of the promotion, eligibility criteria, and any associated conditions will be clearly communicated during the promotional period. After the promotion concludes, regular prices will apply unless otherwise stated. Airalo reserves the right to modify or terminate any promotional prices, including the associated terms and conditions, at its sole discretion, without prior notice. Users seeking additional information or clarification about promotional prices can contact Airalo's support team at support@airalo.com
        </p>
        <ol>
            <li>
                9.1. Prices may vary between End Users and Business Users, reflecting the tailored services and volume-based offerings that might be available to different categories of users.
            </li>
            <li>
                9.2. Prices are subject to change without prior notice. Airalo continuously reviews its pricing strategy to align with market dynamics, ensuring that we provide quality services at competitive rates
            </li>
            <li>
                9.3. Airalo reserves the right to adjust prices based on a variety of factors, including but not limited to market conditions, exchange rates, and operational costs. Such adjustments are made to ensure the sustainability of the services offered and to reflect the cost of delivering high-quality connectivity solutions to our users
            </li>
            <li>
                9.4. Airalo commits to making every effort to inform Customers of any significant changes to pricing in a timely manner, allowing users to make informed decisions regarding their purchases. However, due to the dynamic nature of the factors influencing pricing, immediate notification may not always be possible.
            </li>
        </ol>
        <p class="manual-text">
           For End Users: Prices listed on our website are specifically applicable to End Users. We encourage End Users to frequently visit our website for the most current information on prices and promotions.
            <br>
            <br>
            For Business Users: Business Users should refer to the designated platforms and products built for them to find pricing information relevant to their specific needs. This approach ensures Business Users receive tailored information and pricing strategies that best suit the operational demands and scale of businesses. For further details or inquiries, Business Users also are encouraged to contact our support team directly.
            <br>
            <br>
            Our pricing and promotional strategies are crafted to deliver maximum value to our users, ensuring the sustainability and quality of the services we provide. For the latest information on prices and promotions, End Users should consult our website, while Business Users are directed to explore Airalo-owned platforms designed for them or reach out to our support team.
        </p>
        <div class="manual-title">10. USER LOCATION TRACKING</div>
        <p class="manual-text">
            Airalo may collect and process users' geographical location information, including GPS coordinates, IP address, Wi-Fi access points, and cell tower details, to offer location-based services and enhance user experience. By using Airalo services, users consent to this tracking. The purpose includes providing location-specific services, improving service quality, and personalizing experiences. Location information may be shared with third-party providers, who are obligated to handle data in compliance with privacy laws. Users can control location services through device settings but may experience limitations in certain features. Airalo employs security measures, retains data for necessary periods, and complies with applicable data protection laws. This section may be updated to reflect changes, and users can contact support@airalo.com for questions or concerns about location tracking practices.
        </p>
        <div class="manual-title">MISCELLANEOUS</div>
        <p class="manual-text">
            The original English version of these Terms may have been translated into other languages. The translated version of these Terms is a courtesy and office translation only, and the Customers cannot derive any rights from the translated version. In the event of a dispute about the contents or interpretation of these Terms or in the event of a conflict, ambiguity, inconsistency, or discrepancy between the English version and any other language version of these Terms, the English language version shall apply and prevail and be conclusive and binding. The English version shall be used in legal proceedings. If any provision of these Terms is or becomes invalid, unenforceable, or non-binding, you shall remain bound by all other provisions hereof. In such an event, such an invalid provision shall nonetheless be enforced to the fullest extent permitted by applicable law, and each party will at least agree to accept a similar effect as the invalid, unenforceable, or non-binding provision, given the contents and purpose of these Terms.
        </p>
    </div>
</div>