
<div class="section team">
    <div class="container">
        <div class="sectionTitle">Our team</div>
        <div class="manual-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus. Maecenas dignissim bibendum vehicula. Phasellus lectus nulla, venenatis vel mi at, consequat feugiat augue. Lorem ipsum dolor sit amet</div>
        <div class="d-flex justify-content-between gap-60 gap-max-lg-30 gap-max-xl-40 flex-wrap flex-lg-nowrap mt-40 mt-max-lg-30">
            <div class="w-100">
                <div class="team__item">
                    <div class="team__item-info">
                        <div class="d-flex align-items-center gap-30 gap-max-lg-14">
                            <img class="avatar" src="images/avatar2.png" alt="">
                            <div class="d-flex flex-column gap-10">
                                <div class="team__title">CEO / CO-FOUNDER</div>
                                <div class="team__name">Ruben Ferreira</div>
                            </div>
                        </div>
                        <div class="manual-text mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus.
                            <br>
                            <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus.</div>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <div class="team__item">
                    <div class="team__item-info">
                        <div class="d-flex align-items-center gap-30">
                            <img class="avatar" src="images/avatar3.png" alt="">
                            <div class="d-flex flex-column gap-10">
                                <div class="team__title">CEO / CO-FOUNDER</div>
                                <div class="team__name">Omar Parreira</div>
                            </div>
                        </div>
                        <div class="manual-text mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus.
                            <br>
                            <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a tristique lacus. Nam at est non ex pellentesque dapibus.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>