@import './includes/variables.scss';
@import './includes/mixins.scss';
@import './includes/fonts.scss';
@import './includes/reset.scss';

@import './includes/functions.scss';

//header
@import './includes/blocks/header/header.scss';

//main
@import './includes/blocks/main/main.scss';

//footer
@import './includes/blocks/footer/footer.scss';

//experience
@import './includes/blocks/experience/experience.scss';

//whyUs
@import './includes/blocks/whyUs/whyUs.scss';




