@import './includes/variables.scss';
@import './includes/fonts.scss';
@import './includes/reset.scss';
@import './includes/mixins.scss';
@import './includes/functions.scss';
@import './includes/blocks/footer/footer.scss';
@import './includes/blocks/header/header.scss';
@import './includes/blocks/header/burger.scss';
@import './includes/blocks/main/main.scss';