.whyChooseUs {
    &__item {
        position: relative;
        box-shadow: 0px 4px 25px 0px #00000014;
        border-radius: 60px;
        background-color: #FAFAFA;
        padding: 30px 40px 40px;
        @include max-md{
            padding: 12px 46px 18px;
        }
        
        &::before {
            content: "";
            width: 70%;
            height: 3px;
            background: linear-gradient(167.1deg, #832FBD -17.59%, #D06852 87.96%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 60px;
        }
    }
    & .sectionTitle {
        margin-bottom: 20px;
    }
}