.header {
    padding: 29px 40px;
    background-color: #fff;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max-xl{
        padding: 15px 20px;
    }
    
    &__logo {
        display: block;
        max-width: 167px;
        @include max-xl{
            max-width: 104px;
        }
        
    }
    &__menu {
        gap: 40px;
        display: flex;
        @include max-xxxl{
            gap: 20px;
        }
    }
    & .login svg {
        @include max-xl{
            width: 25px;
        }
        
    }
    & .btn, .dropdown-menu {
        max-width: 160px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.2px;
        padding: 11px;
        text-wrap: nowrap;
        font-family: "Gilroy";
        @include max-xl{
            padding: 8px;
            font-size: 12px;
            line-height: 15px;
        }
        
        &-dark {
            padding: 11px 55px;
            @include max-xl{
                padding: 11px 40px;
            }
            
            @include max-lg{
                display: none;
            }
            
        }
    }
}
