.menu {
    margin-right: 118px;
    @include max-xxxl{
        margin-right: 50px;
    }
    @include max-xl{
        margin-right: 20px;
    }
    
    @include max-lg {
        display: none;
    }
    
    &__link {
        font-family: "Gilroy";
        color: #00000080;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.83px;
        text-wrap: nowrap;
        &.active {
            color: #000;
        }
        &:hover {
            color: #000;
        }
    }
}
