/* для элемента input c type="radio" */
.custom-radio > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: 'Telegraf', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio > span::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-radio.error > span::before {
    border: 1px solid red;
}
.custom-radio.error > span {
    color: red;
}
/* стили при наведении курсора на радио */
.custom-radio > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #b3d7ff;
    border-color: #D1D1D1;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio > input:not(:disabled):active + span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
    border-color: transparent;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio > input:focus + span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: none;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio > input:focus:not(:checked) + span::before {
    border-color: #80bdff;
    border-color: transparent;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio > input:checked + span::before {
    border-color: #0b76ef;
    border-color: transparent;
    background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);

    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio > input:disabled + span::before {
    background-color: #e9ecef;
    border-color: transparent;
}
