.accountReferal {
    &__banner {
        background-color: #fcf2ff;
        border-radius: 20px;
        padding: 20px 30px;
        margin-bottom: 20px;
        @include max-lg {
            padding: 20px;
            margin-bottom: 30px;
        }
        @include max-md {
            padding: 30px 20px;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 25px;
            @include max-xl {
                gap: 10px;
            }
            @include max-lg {
                gap: 10px;
            }
            @include max-md {
                gap: 20px;
            }
        }
        &-title {
            font-family: "Telegraf-UltraBold", sans-serif;
            font-size: 30px;
            font-weight: 800;
            line-height: 39px;
            text-align: left;
            color: #3b3b3b;
            @include max-xxl {
                font-size: 25px;
                line-height: 30px;
            }
            @include max-xl {
                font-size: 20px;
                line-height: 25px;
            }
            @include max-lg {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
    &__item {
        background-color: #fafafa;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__share {
        max-width: 360px;
        @include max-xxl {
            max-width: 100%;
        }
    }
    &__howItWorks {
        padding: 30px 20px;
        width: 100%;
    }
    & .manual-title {
        font-size: 22px;
        line-height: 39px;
        text-align: center;
        @include max-lg {
            font-size: 20px;
            line-height: 25px;
        }
    }
    &__code {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        & label {
            font-family: "Telegraf-Regular", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #3b3b3b;
        }
        & .input-wrapper {
            display: flex;
            align-items: center;
        }
        & input {
            height: 48px;
            border-radius: 10px 0 0 10px;
            border: 1px solid #8c36b1;
            padding: 0 20px;
            width: 100%;
        }
        & button {
            height: 48px;
            min-width: 45px;
            border-radius: 0 10px 10px 0;
            background: linear-gradient(81.66deg, #832fbd -10.85%, #d06852 107.66%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    & .succes-copy {
        position: absolute;
        top: 0;
        width: max-content;
        padding: 10px 40px;
        color: #fcf2ff;
        background: linear-gradient(81.66deg, #832fbd -10.85%, #d06852 107.66%);
        border-radius: 10px;
        width: 100%;
        text-align: center;
        font-family: "Telegraf-Regular", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        opacity: 0;
        transition: .5s;
        &.active {
            opacity: 1;
            transition: .5s;
            top: -30px;
        }
    }
    & .howDo__steps {
        margin-top: 0;
        overflow: hidden;
        @include max-lg {
            gap: 60px;
        }

        & .manual-title {
            font-size: 18px;
            line-height: 21px;
        }
    }
    & .howDo__steps-item {
        @include max-lg {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    & .howDo__steps-item:first-child .howDo__steps-count {
        &::after {
            content: "";
            width: 100vw;
            height: 1px;
            border: 1px dashed grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 48px;
            z-index: 0;
            margin: auto;
            @include max-lg {
                transform: rotate(90deg);
                left: auto;
                width: 50vh;
                top: 375px;
            }
        }
    }
    & .howDo__steps-item:last-child .howDo__steps-count {
        &::after {
            content: "";
            width: 100vw;
            height: 2px;
            border: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 48px;
            z-index: 0;
            margin: auto;
            background-color: #fafafa;
            @include max-lg {
                width: 3px;
                height: 200%;
                top: 96px;
                left: auto;
            }
        }
    }
    & .howDo__steps-count {
        max-width: 48px;
        min-width: 48px;
        max-height: 48px;
        min-height: 48px;
        font-size: 23.83px;
        font-weight: 700;
        line-height: 31.78px;
        letter-spacing: -0.7944499850273132px;
        background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
        position: relative;
    }
    & .howDo__steps-border {
        width: 70%;
        top: 25px;
        left: 100px;
        display: none;
        @include max-lg {
            left: -200px;
            min-width: 450px;
            max-width: 450px;
        }
    }
    & .howDo__steps-info {
        margin-top: 20px;
        @include max-lg {
            margin-right: 50px;
        }
    }
}
