.experience {
    position: relative;
    overflow: hidden;
    &__blur {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        filter: blur(8px);
        background: url(../images/experience_bg.png);
        background-size: cover;
    }
    &__content {
        display: flex;
        position: relative;
        z-index: 5;
    }
    &__block {
        width: 33.3%;
        padding: 89px 0 173px;
        @include max-xl {
            padding: 57px 0 145px;
        }
        &_white {
            background: rgba(232, 232, 234, 0.79);
            & div {
                color: #4d4c4c;
            }
            & p {
                color: #4d4c4c;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 176.9%;
            text-align: center;
            letter-spacing: 0.195em;
            color: #ffffff;
            margin-bottom: 45px;
            text-align: left;
            display: flex;
            align-items: baseline;
            position: relative;
            @include max-xxxl {
                font-size: 20px;
            }
            @include max-xl {
                font-size: 16px;
                margin-bottom: 20px;
            }
            @include max-lg {
                padding-left: 20px;
            }
            @include max-md {
                font-size: 16px;
                line-height: 133.9%;
                letter-spacing: 0.195em;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                justify-content: space-between;
                margin-bottom: 70px;    
            }
            @include max-iph {
                font-size: 12px;
                line-height: 24px;
                margin-bottom: 30px;
            }
        }
        &-title::before {
            content: "";
            width: 128px;
            height: 10px;
            margin-right: 20px;
            background-color: #ff9900;
            position: absolute;
            left: -158px;
            bottom: 12px;
            @include max-xlmidle {
                width: 50px !important;
                left: -70px !important;
            }
            @include max-xl {
                width: 50px !important;
                left: -70px !important;
                height: 5px;
            }
            @include max-lg {
                left: -20px !important;
                width: 30px !important;
            }
            @include max-md {
                position: initial;
                background: #02BB4C;
                width: 128px !important;
                height: 10px;
                margin-right: 20px;
                margin-left: -50px;
            }
            @include max-sm {
                width: 75px !important;
                margin-right: 0;
            }
            @include max-iph {
                height: 7px;
            }
        }
        &-title::after {
            @include max-md {
                content: "";
                width: 128px;
                height: 10px;
                background: #02BB4C;
                margin-left: 20px;
                margin-right: -50px;
            }
            @include max-sm {
                width: 75px;
                margin-left: 0;
            }
            @include max-iph {
                height: 7px;
            }
            
        }
        &-description {
            font-weight: 400;
            font-size: 20px;
            line-height: 156%;
            color: #ffffff;
            max-width: 415px;
            @include max-xxxl {
                font-size: 18px;
            }
            @include max-xl {
                font-size: 15px;
            }
            @include max-md {
                font-size: 20px;
                padding: 0 20px;
                margin: 0 auto;
                text-align: center;
                
            }
            @include max-iph {
                font-size: 16px;
            }
        }
        & p + p {
            margin-top: 20px;
        }
    }
    &__block:nth-child(1) {
        padding-right: 85px;
        @include max-lg {
            padding-right: 15px;
        }
        @include max-md {
            width: 100%;
            // padding: 100px 50px;
            padding-right: 0 !important;
        }
    }
    &__block:nth-child(2) {
        padding-left: 110px;
        padding-right: 100px;
        @include max-lg {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        @include max-md {
            display: none;
        }
    }
    &__block:nth-child(3) {
        padding-left: 110px;
        @include max-lg {
            padding-left: 15px !important;
        }
        @include max-md {
            display: none;
        }
    }
}
@media (max-width: 1650px) {
    .experience__block:nth-child(1) {
        padding-right: 50px;
    }
    .experience__block:nth-child(2) {
        padding-left: 50px;
        padding-right: 50px;
    }
    .experience__block:nth-child(3) {
        padding-left: 50px;
    }
    .experience__block-title::before {
        width: 80px;
        left: -100px;
    }
}
