body {
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;
    // height: 100vh;
}

//   @keyframes gradient {
//     0% {
//       background-position: 0% 50%;
//     }
//     50% {
//       background-position: 100% 50%;
//     }
//     100% {
//       background-position: 0% 50%;
//     }
//   }
.cascade-slider_container {
    position: relative;
    max-width: 1000px;
    //    height: 35vh;
    height: 450px;
    margin: 200px auto 0;
}
@media screen and (min-width: 768px) {
    .cascade-slider_container {
        height: 40vh;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .cascade-slider_container {
        // height: 32vw;
    }
}
@media screen and (min-width: 1600px) {
    .cascade-slider_container {
        height: 45vh;
    }
}

.cascade-slider_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    transition: all 1s ease;
    opacity: 0;
    z-index: -1;
}
.cascade-slider_item.next2 {
    left: 50%;
    transform: translateY(-40%) translateX(-50%) scale(0.6);
    opacity: 1;
    z-index: 1 !important;
}
@media screen and (min-width: 768px) {
    .cascade-slider_item.next2 {
        transform: translateY(-50%) translateX(-100%) scale(0.7);
    }
}
.cascade-slider_item.next {
    left: 50%;
    transform: translateY(-55%) translateX(-50%) scale(0.7);
    opacity: 1;
    z-index: 2 !important;
}
@media screen and (min-width: 768px) {
    .cascade-slider_item.next {
        transform: translateY(-50%) translateX(-75%) scale(0.9);
    }
}

.cascade-slider_item.prev2 {
    left: 50%;
    transform: translateY(-70%) translateX(-50%) scale(0.8);
    opacity: 1;
    z-index: 3 !important;
}
@media screen and (min-width: 768px) {
    .cascade-slider_item.prev2 {
        transform: translateY(-50%) translateX(0) scale(0.7);
    }
}
.cascade-slider_item.prev {
    left: 50%;
    transform: translateY(-85%) translateX(-50%) scale(0.9);
    opacity: 1;
    z-index: 4 !important;
}
@media screen and (min-width: 768px) {
    .cascade-slider_item.prev {
        transform: translateY(-50%) translateX(-25%) scale(0.9);
    }
}
.cascade-slider_item.now {
    top: 50%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
}
@media screen and (min-width: 768px) {
    .cascade-slider_item.now {
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
}
.cascade-slider_arrow {
    display: inline-block;
    position: absolute;
    //    top: 50%;
    cursor: pointer;
    z-index: 5;
    //    transform: translate(0, -50%);
    color: #fff;
    font-size: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.45693 7.13777L16.4414 7.13777L16.4414 9.86253L5.45693 9.86253L9.66979 14.3487L7.86047 16.2754L0.558922 8.50015L7.86047 0.724908L9.66979 2.6516L5.45693 7.13777V7.13777Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
}
.cascade-slider_arrow-left {
    //    left: -4%;
    left: 0;
    // right: 25%;
    margin: auto;
}
.cascade-slider_arrow-right {
    //    right: -4%;
    right: 0;
    // left: 25%;
    margin: auto;
    transform: rotate(180deg);
}
.cascade-slider_nav {
    position: absolute;
    bottom: -120px;
    width: 100%;
    text-align: center;
    z-index: 5;
}
.cascade-slider_dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 1em;
    background: #ddd;
    list-style: none;
    cursor: pointer;
}
.cascade-slider_dot:hover {
    background: #555;
}
.cascade-slider_dot.cur {
    background: #555;
}
.cascade-slider_slides img {
    //    max-width: 150px;
    //    max-width: 410px;
    //    min-width: 325px;
    min-width: 90vw;
    border-radius: 35px;
    min-height: 400px;
    object-fit: cover;
}
@media screen and (min-width: 768px) {
    .cascade-slider_slides img {
        min-width: 55vw;
    }
}
@media screen and (min-width: 1600px) {
    .cascade-slider_slides img {
        min-width: 52vw;
    }
}
@media screen and (min-width: 1700px) {
    .cascade-slider_slides img {
        min-width: 46vw;
    }
}
@media screen and (min-width: 1921px) {
    .cascade-slider_slides img {
        min-width: 34vw;
    }
}

.cascade-slider_item:not(.now) img {
    //    filter: grayscale(0.95);
}
.cascade-slider_arrow img {
    width: 25px;
}
//    @media screen and (min-width: 414px) {
//        .cascade-slider_container {
//            height: 50vh;
//       }
//        .cascade-slider_slides img {
//            max-width: 200px;
//       }
//   }
@media screen and (min-width: 576px) {
    //    .cascade-slider_container {
    //        height: 130vw;
    //   }
    .cascade-slider_slides img {
        //    max-width: 270px;
    }
}
@media screen and (min-width: 768px) {
    .cascade-slider_item.next {
        left: 50%;
        //    transform: translateY(-50%) translateX(-125%) scale(0.6);
        opacity: 1;
        z-index: 1;
    }
    .cascade-slider_item.prev {
        left: 50%;
        //    transform: translateY(-50%) translateX(25%) scale(0.6);
        opacity: 1;
        z-index: 1;
    }
    .cascade-slider_slides img {
        //    max-width: 250px;
    }
}
@media screen and (min-width: 991px) {
    .cascade-slider_item.next {
        left: 50%;
        //    transform: translateY(-50%) translateX(-115%) scale(0.55);
        opacity: 1;
        z-index: 4 !important;
    }
    .cascade-slider_item.prev {
        left: 50%;
        //    transform: translateY(-50%) translateX(15%) scale(0.55);
        opacity: 1;
        z-index: 4 !important;
    }
    .cascade-slider_item.next2 {
        left: 50%;
        //    transform: translateY(-50%) translateX(-150%) scale(0.37);
        opacity: 1;
        z-index: 1 !important;
    }
    .cascade-slider_item.prev2 {
        left: 50%;
        //    transform: translateY(-50%) translateX(50%) scale(0.37);
        opacity: 1;
        z-index: 2 !important;
    }
    .cascade-slider_slides img {
        // max-width: 300px;
    }
    .cascade-slider_container {
        //    height: 40vh;
    }
}
@media screen and (min-width: 1100px) {
    .cascade-slider_item.next {
        left: 50%;
        //    transform: translateY(-50%) translateX(-130%) scale(0.55);
        opacity: 1;
        z-index: 4 !important;
    }
    .cascade-slider_item.prev {
        left: 50%;
        //    transform: translateY(-50%) translateX(30%) scale(0.55);
        opacity: 1;
        z-index: 4 !important;
    }
    .cascade-slider_item.next2 {
        left: 50%;
        //    transform: translateY(-50%) translateX(-180%) scale(0.37);
        opacity: 1;
        z-index: 1 !important;
    }
    .cascade-slider_item.prev2 {
        left: 50%;
        //    transform: translateY(-50%) translateX(80%) scale(0.37);
        opacity: 1;
        z-index: 2 !important;
    }
    .cascade-slider_slides img {
        max-width: 892px;
    }
}
.cascade-slider-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
}
.cascade-slider-nav-item {
    background-color: #00000026;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    // cursor: pointer;
    pointer-events: none;
}
.cascade-slider-nav-item.active {
    background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
    width: 18px;
    height: 18px;
}
.cascade-slider_item-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: max-content;
}
.cascade-slider_item-title {
    //styleName: H1;
    font-family: "Telegraf-UltraBold", sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 59.36px;
    text-align: center;
    color: #fff;
    @media (max-width: 1900px) {
        font-size: 45px;
        line-height: 50px;
    }
    @include max-xxl{
        font-size: 35px;
        line-height: 40px;
    }
    @include max-xl{
        font-size: 30px;
        line-height: 35px;
    }
    
    @include max-lg{
        // font-size: 22px;
        // line-height: 32px;
    }
    @include max-md{
        font-size: 30px;
        line-height: 32px;
    }
    
}
.cascade-slider_item.prev .cascade-slider_item-title,
.cascade-slider_item.prev2 .cascade-slider_item-title {
    transform: rotate(-90deg);
    position: absolute;
    left: 80%;
    height: 185px;
    width: 260px;
    font-size: 30px;
    line-height: 40px;
    top: 0;
    bottom: 0;
    margin: auto;

}
@media(max-width: 1100px) {
    .cascade-slider_item.prev .cascade-slider_item-title,
    .cascade-slider_item.prev2 .cascade-slider_item-title {
        left: 77%;
    }
}
@media(max-width: 992px) {
    .cascade-slider_item.prev .cascade-slider_item-title,
    .cascade-slider_item.prev2 .cascade-slider_item-title {
        font-size: 25px;
    }
}
.cascade-slider_item.next .cascade-slider_item-title,
.cascade-slider_item.next2 .cascade-slider_item-title {
    transform: rotate(90deg);
    position: absolute;
    right: 80%;
    height: 185px;
    width: 260px;
    font-size: 30px;
    line-height: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
}
@media(max-width: 1100px) {
    .cascade-slider_item.next .cascade-slider_item-title,
    .cascade-slider_item.next2 .cascade-slider_item-title {
        right: 77%;
    }
}
@media(max-width: 992px) {
    .cascade-slider_item.next .cascade-slider_item-title,
    .cascade-slider_item.next2 .cascade-slider_item-title {
        font-size: 25px;
    }
}
@media(max-width: 768px) {
    .cascade-slider_item.prev .cascade-slider_item-title,
    .cascade-slider_item.prev2 .cascade-slider_item-title,
    .cascade-slider_item.next .cascade-slider_item-title,
    .cascade-slider_item.next2 .cascade-slider_item-title {
       opacity: 0;
    }
}
.cascade-slider_item.now .cascade-slider_item-desc,
.cascade-slider_item.now .btn {
    opacity: 1;
    transition: 1s;
}
.cascade-slider_item-desc {
    opacity: 0;
    transition: 1s;
    font-family: "Telegraf-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    @include max-xxl{
        font-size: 16px;
        line-height: 20px;
    }
    @include max-xl{
        margin-top: 10px;
    }
    
    @include max-lg{
        // font-size: 14px;
        // line-height: 16px;
        // margin-top: 0;
    }
    @include max-md {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }
}
.cascade-slider_item .btn {
    opacity: 0;
    transition: 1s;
    max-width: 200px;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    gap: 10px;
    @include max-xxl{
        height: 40px !important;
    }
    @include max-xl{
        margin-top: 10px;
    }
    
    @include max-lg{
        // margin: 20px auto 0;
        // font-size: 14px;
        // margin-top: 5px;
        // height: 35px !important;
    }
    @include max-md{
        height: 48px !important;
        margin-top: 20px;
    }
    
    &:hover {
        background-color: #000;
        color: #fff;
    }
    &:hover svg path {
        fill: #fff;
    }
}
