.banner {
    padding: 60px 0;
    @include max-md{
        padding: 40px 0;
    }
    
    &__content {
        padding: 50px 0;
        background: linear-gradient(218.73deg, #832fbd -53.7%, #d06852 132.37%);
        @include max-md{
            padding: 40px 0;
        }
        
    }
    &__title {
        font-family: "Telegraf", sans-serif;
        font-size: 56px;
        font-weight: 800;
        line-height: 59.36px;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
        @include max-xl{
            margin-bottom: 20px;
            font-size: 46px;
            line-height: 48px;
        }
        @include max-md{
            font-size: 36px;
            line-height: 38px;
        }
        
    }
    & .manual-text {
        color: #fff;
    }
    & .btn {
        margin: 34px auto 0;
        width: max-content;
        display: flex;
        align-items: center;
        padding: 20px 25px;
        border-radius: 15px;
        @include max-lg{
            margin-top: 30px;
            padding: 14px 25px;
        }
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}
