.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    height: auto;
    transition: .5s;
    // &.hidden {
    //     opacity: 0;
    //     visibility: hidden;
    //     pointer-events: none;
    //     height: 0;
    // }
    @include max-xxl {
        grid-template-columns: repeat(3, 1fr);
    }
    @include max-lg {
        grid-template-columns: repeat(2, 1fr);
    }
    @include max-md {
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 30px;
    }
    &.hidden {
        height: 0;
    }
}
.card {
    padding: 34px 30px 40px;
    box-shadow: 0px 4px 15px 0px #00000026;
    max-width: 350px;
    border: none;
    border-radius: 30px;
    @include max-lg {
        max-width: 100%;
    }

    @include max-md {
        padding: 34px 30px 40px;
    }

    &__title {
        font-family: "Telegraf", sans-serif;
        font-size: 20px;
        font-weight: 800;
        line-height: 22px;
        background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__info {
        margin: 44px 0 40px;
        display: grid;
        gap: 25px;
        position: relative;
        &::before {
            content: "";
            width: 4px;
            height: 100%;
            background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: -30px;
        }
    }
    &__text {
        font-family: "Telegraf", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 11px;
        color: #3b3b3b;
        &_colored {
            background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__price {
        font-family: "Telegraf", sans-serif;
        font-size: 22px;
        font-weight: 800;
        line-height: 24px;
        color: #3b3b3b;
    }
    &-label {
        padding: 25px;
        @include max-md {
            padding: 15px;
        }
    }
}
