$iph: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;


@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin iph {
  @media (min-width: #{$iph}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$xxl}) {
    @content;
  }
}

@mixin max-iph {
  @media (max-width: #{$iph}) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}
@mixin max-xxl {
  @media (max-width: #{$xxl}) {
    @content;
  }
}

@mixin hover {
  &:hover, &:focus, &:active, &:focus:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus, &.hover {
    @content;
  }
}