html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	position: relative;
}
.content {
	position: relative;
	transition: 1s;
	background-color: #fff;
}
html {
	scroll-behavior: auto;
}
.front-page {
	overflow: hidden;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
.fw-600 {
	font-weight: 600 !important;
}
h1 {
	font-family: "Telegraf", sans-serif;
	font-size: 56px;
	font-weight: 800;
	line-height: 59.36px;
	color: #3b3b3b;
	@include max-md {
		font-size: 36px;
		line-height: 38px;
		text-align: center;
	}
}
textarea {
	border: none;
	outline: none;
	background-color: #f4f4f4;
	border-radius: 20px;
	resize: none;
	padding: 15px;
	width: 100%;
	font-family: "Telegraf", sans-serif;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: inherit;
	}
}
input {
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: #3b3b3b;
	&::placeholder {
		color: #c3c3c3;
	}
}
input,
button {
	border: none;
	outline: none;
	padding: 0;
	background: none;
}
.btn {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-bg-gradient {
	background: linear-gradient(90.05deg, #832fbd -7.6%, #d06852 108.5%);
	color: #fff;
	font-size: 14px !important;
	transition: 0.5s;
	&:hover {
		background: linear-gradient(90.05deg, #d06852 -7.6%, #832fbd 108.5%);
		transition: 0.5s;
		color: #fff;
	}
}
.btn-border-gradient {
	color: #fff;
	font-size: 14px !important;
	background: linear-gradient(90.81deg, #832fbd 9.1%, #d06852 55.89%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	border-radius: 10px;
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		padding: 1px;
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
	&:hover {
		background: linear-gradient(90.05deg, #832fbd -7.6%, #d06852 108.5%);
		-webkit-text-fill-color: #fff;
	}
}
.text-bold {
	font-family: "Telegraf", sans-serif;
	font-size: 22px;
	font-weight: 800;
	line-height: 26px;
	text-align: center;
	color: #000;
	& span {
		background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.text-small {
	font-family: "Telegraf", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 12px;
	text-align: center;
	color: #858585;
}
.input-range {
	border-radius: 30px;
	height: 6px;
	border: none;
	width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #4caf50;
	cursor: pointer;
	border-radius: 50%;
	display: none;
}

input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #4caf50;
	cursor: pointer;
	border-radius: 50%;
	display: none;
}

input[type="range"]::-ms-thumb {
	width: 20px;
	height: 20px;
	background: #4caf50;
	cursor: pointer;
	border-radius: 50%;
	display: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	background: #eaeaea;
	border-radius: 5px;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 6px;
	background: #eaeaea;
	border-radius: 5px;
}
.range-wrapper {
	position: relative;
	width: 100%;
}
.range-fill {
	position: absolute;
	top: 3px;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 7px;
	background: linear-gradient(90.06deg, #832fbd -5.31%, #d06852 105.31%);
	border-radius: 5px;
	z-index: 6;
	width: calc(var(--value) * 1%); /* Динамическое изменение ширины */
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.w-max-md-100 {
	@include max-md {
		width: 100%;
	}
}
.mobile {
	display: none;
}
@include max-lg {
	.desktop-lg {
		display: none !important;
	}
	.mobile-lg {
		display: block !important;
	}
}
@include max-md {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.rotate-90 {
	transform: rotate(-90deg) !important;
}
.container {
	max-width: 1520px;
	margin: auto;
	padding: 0;
	// padding: 0 133px 0 135px;
	@include max-xxxl {
		max-width: 100%;
		padding: 0 50px;
	}
	@include max-md {
		padding: 0 20px !important;
	}
}
.h-40 {
	height: 40px;
}
.h-48 {
	height: 48px;
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
	// align-items: center;
}
.owl-nav {
	display: none;
}
.owl-dots {
	display: none;
}
.slick-arrow {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	margin: auto;
}
.slick-prev {
	right: 150px;
}
.slick-next {
	left: 150px;
}
.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50px;
	margin: auto;
	gap: 11px;
	width: max-content;
}
.slick-dots button {
	display: none;
}
.slick-dots li {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #00000026;
	cursor: pointer;
}
.slick-dots li.slick-active {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
}
.custom-button {
	background: initial;
	border-radius: 5px;
	color: #fff;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	font-family: "Telegraf", sans-serif;
	font-size: 40px;
	font-weight: 800;
	line-height: 42.4px;
	text-align: center;
	color: #3b3b3b;
	margin-bottom: 50px;
	@include max-xl {
		font-size: 35px;
		line-height: 36px;
		margin-bottom: 35px;
	}
	@include max-md {
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 20px;
	}
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}

// gaps
.gap-8 {
	gap: 8px;
}
.gap-16 {
	gap: 16px;
}
.gap-10 {
	gap: 10px;
}
.gap-20 {
	gap: 20px;
}
.gap-30 {
	gap: 30px;
}
.gap-35 {
	gap: 35px;
}
.gap-40 {
	gap: 40px;
}
.gap-60 {
	gap: 60px;
}
.row-gap-30 {
	row-gap: 30px;
}

@include max-xl {
	.gap-max-xl-40 {
		gap: 20px;
	}
	.gap-max-xl-20 {
		gap: 20px;
	}
	.gap-max-xl-10 {
		gap: 10px;
	}
}
@include max-lg {
	.gap-max-lg-30 {
		gap: 30px;
	}
	.gap-max-lg-14 {
		gap: 14px;
	}
	.gap-max-lg-0 {
		gap: 0;
	}
}
@include max-md {
	.gap-max-md-0 {
		gap: 0;
	}
	.gap-max-md-40 {
		gap: 40px;
	}
}
// margins
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mr-40 {
	margin-right: 40px;
}
.mr-60 {
	margin-right: 60px;
}
.mr-10 {
	margin-right: 10px;
}
// paddings
.p-20 {
	padding: 20px;
}
.p-30 {
	padding: 30px;
}
.pr-60 {
	padding-right: 60px;
}
.pb-60 {
	padding-bottom: 60px;
}
@include max-md {
	.mt-max-md-20 {
		margin-top: 20px;
	}
	.mt-max-md-30 {
		margin-top: 30px;
	}
	.mt-max-md-8 {
		margin-top: 8px;
	}
	.mt-max-md-14 {
		margin-top: 14px;
	}
}
@include max-lg {
	.mt-max-lg-0 {
		margin-top: 0px;
	}
	.mt-max-lg-20 {
		margin-top: 20px;
	}
	.mt-max-lg-30 {
		margin-top: 30px;
	}
	.mt-max-lg-40 {
		margin-top: 40px;
	}
	.pr-max-lg-0 {
		padding-right: 0;
	}
	.pb-max-lg-40 {
		padding-bottom: 40px;
	}
}
.table-wrapper {
	background-color: #fafafa;
	border-radius: 40px;
	padding: 60px 40px;
	height: 100%;
	max-height: 580px;
	overflow: auto;
	@include max-xl {
		padding: 30px 30px 10px;
		max-height: 538px;
	}
	@include max-md {
		overflow: auto;
	}
	& table {
		@include max-md {
			width: 600px;
		}
	}
	& th,
	td {
		font-family: "Telegraf", sans-serif;
		font-size: 18px;
		line-height: 23.4px;
		text-align: center;
		color: #3b3b3b;
		@include max-lg {
			font-size: 16px;
			line-height: 20px;
		}
	}
	& th {
		font-weight: 800;
		padding-bottom: 10px;
	}
	& td {
		font-weight: 400;
		padding: 25px 10px;
		border-top: 1px solid #e8e8e8;
		@include max-lg {
			padding: 20px 10px;
		}
	}
	
}
.btn {
	border-radius: 10px;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	border: none;
}
.btn-secondary {
	background-color: #ededed;
	color: #000;
}
.btn-dark {
	background: #000;
	transition: 0.5s;
	&:hover {
		background: linear-gradient(89.27deg, #832fbd -12.02%, #d06852 107.4%);
		transition: 0.5s;
	}
}
.btn-border-dark {
	border: 1px solid #000000;
	background: transparent;
	color: #000;
	&:hover {
		background: #000;
		color: #fff;
	}
}
.btn-white {
	background: #fff;
	color: #000;
}
.btns-group {
	width: 100%;
}
.btns-group button {
	font-family: "Gilroy";
	font-size: 14px;
	font-weight: 500;
	line-height: 18.2px;
	text-align: center;
	width: 100%;
}
.section {
	padding: 60px 0;
	@include max-md {
		padding: 30px 0;
	}
}
.text {
	font-size: 16px;
	font-family: "Telegraf", sans-serif;
	line-height: 21px;
	color: #ffffff80;
}
.manual-text {
	font-family: "Telegraf", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color: #3b3b3b;
}
@include max-md {
	.manual-text {
		font-size: 16px;
		line-height: 24px;
	}
}

.manual-title {
	font-family: "Telegraf", sans-serif;
	font-size: 26px;
	font-weight: 800;
	line-height: 33.8px;
	color: #3b3b3b;
}
@include max-md {
	.manual-title {
		font-size: 18px;
		line-height: 24px;
	}
}
.radius-20 {
	border-radius: 20px;
}
.radius-30 {
	border-radius: 30px;
}
.bg-f1 {
	background-color: #f1f1f1 !important;
}
.bg-f4 {
	background-color: #f4f4f4;
}
.bg-fa {
	background-color: #fafafa;
}
.bg-violet {
	background-color: #fcf2ff;
}
.fs-20 {
	font-size: 20px;
}
.select-wrapper {
	min-width: 140px;
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
.form-input,
.select-wrapper {
	position: relative;
	background-color: #f8f8f8;
	height: 48px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	&:after {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.79708 0.525879L6 4.7288L10.2029 0.525879L11.5 1.82296L6 7.32296L0.5 1.82296L1.79708 0.525879Z' fill='%233B3B3B'/%3E%3C/svg%3E%0A");
		width: 11px;
		height: 7px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto;
	}
}
.form-input,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: #f8f8f8;
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: #3b3b3b;
	padding: 14px;
	width: 100%;
	border-radius: 10px;
	height: 100%;
}
select::-ms-expand {
	display: none;
}
.form-group {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	width: 100%;
	& label {
		font-family: "Telegraf", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
		color: #3b3b3b;
	}
}
.form-input {
}
.btn-red {
	border: 1px solid #ff0000;
	height: 48px;
	font-family: "Gilroy";
	font-size: 14px;
	font-weight: 500;
	line-height: 18.2px;
	color: #ff0000;
	max-width: 220px;
	&:hover {
		border-color: inherit;
	}
}
.height-max-content {
	height: max-content;
}
/* для элемента input c type="checkbox" */
.custom-checkbox > input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.custom-checkbox-reverse {
	width: max-content;
	overflow: hidden;
	padding: 3px 0;
}
.custom-checkbox-reverse > input {
	z-index: 5;
	height: 24px;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
	display: block;
	align-items: center;
	user-select: none;
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	color: #3b3b3b;
}
.custom-checkbox-reverse > span {
	width: max-content;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
}
/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	margin-bottom: -3px;
	margin-right: 10px;
}
.custom-checkbox-reverse > span::before {
	margin-left: 20px;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
	border-color: #3b3b3b;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
	background-color: #3b3b3b;
	border-color: #3b3b3b;
}
.account-custom-checkbox > input:not(:disabled):active + span::before {
	background-color: #f4f4f4;
	border-color: transparent;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox > input:focus + span::before {
	// box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
	border-color: #3b3b3b;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
	border-color: #3b3b3b;
	background-color: #3b3b3b;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
	background-color: #e9ecef;
}

.account-custom-checkbox > span::before {
	width: 48px;
	height: 24px;
	border-radius: 16px;
	background-color: #f4f4f4;
	border: none;
	cursor: pointer;
}
.account-custom-checkbox > span::after {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	border: none;
	display: block;
	position: absolute;
	top: 2px;
	bottom: 0;
	right: 24px;
	transform: translateX(-10px);
	margin: auto;
	transition: 0.5s;
	cursor: pointer;
}
.account-custom-checkbox > input:checked + span::before {
	background-image: none;
	background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
	transition: 0.5s;
}
.account-custom-checkbox > input:checked + span::after {
	content: "";
	right: 1px;
	transform: translateX(-12px);
	transition: 0.5s;
}
.hidden,
.hidden * {
	opacity: 0 !important;
	visibility: hidden !important;
	pointer-events: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
[data-tab-target] {
	opacity: 1 !important;
	visibility: visible !important;
	pointer-events: all !important;
	transition: 0.5s;
}
[data-tab-target].hidden {
	opacity: 0 !important;
	visibility: hidden !important;
	pointer-events: none !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	position: absolute;
	top: 0;
}

.form-input {
	border: 1px solid #ccc;
}
.form-input.error {
	border-color: red;
}
#column-left {
	height: 100%;
	min-width: 350px;
	@include max-xl {
		max-width: 250px;
		min-width: 250px;
	}
	@include max-md {
		min-height: 100%;
		max-width: 100%;
	}
}
.pageOfCountry__Title {
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: "Telegraf", sans-serif;
	font-size: 46px;
	font-weight: 800;
	line-height: 48.76px;
	text-align: center;
	color: #000000;
	justify-content: center;
	padding-bottom: 30px;
	@include max-lg {
		font-size: 34px;
		line-height: 36px;
		gap: 14px;
		padding-bottom: 0;
	}
}
.manual-list {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	@include max-lg {
		margin-top: 20px;
	}
}
.manual-list li {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #3b3b3b;
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;

	&:before {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9999 0C5.38321 0 0 5.38309 0 11.9999C0 18.6168 5.38321 24 11.9999 24C18.6167 24 23.9999 18.6168 23.9999 11.9999C23.9999 5.38309 18.6168 0 11.9999 0ZM18.8905 9.97305L11.3516 17.512C11.031 17.8326 10.6049 18.009 10.1516 18.009C9.69832 18.009 9.27221 17.8326 8.95165 17.512L5.10936 13.6697C4.78881 13.3492 4.61225 12.923 4.61225 12.4698C4.61225 12.0163 4.78881 11.5902 5.10936 11.2697C5.42979 10.9491 5.85591 10.7726 6.30932 10.7726C6.7626 10.7726 7.18884 10.9491 7.50927 11.2698L10.1515 13.9119L16.4904 7.57301C16.8109 7.25245 17.237 7.07602 17.6903 7.07602C18.1436 7.07602 18.5697 7.25245 18.8903 7.57301C19.5522 8.23491 19.5522 9.3114 18.8905 9.97305Z' fill='url(%23paint0_linear_600_6572)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_600_6572' x1='8.44996' y1='-7.125' x2='15.2279' y2='22.4586' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23832FBD'/%3E%3Cstop offset='1' stop-color='%23D06852'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		width: 24px;
		height: 24px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
