html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	position: relative;
}
.content {
	position: relative;
	transition: 1s;
	background-color: #fff;
}
html {
    scroll-behavior: auto;
}
.front-page {
	overflow: hidden;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
.fw-600 {
	font-weight: 600 !important;
}
textarea {
	border: none;
	outline: none;
	background-color: #f4f4f4;
	border-radius: 20px;
	resize: none;
	padding: 15px;
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: inherit;
	}
}
input {
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: #3b3b3b;
	&::placeholder {
		color: #c3c3c3;
	}
}
input,
button {
	border: none;
	outline: none;
	padding: 0;
	background: none;
}
.btn {
	width: 100%;
	height: 40px;
}
.mobile {
	display: none;
}
@include max-lg {
	.desktop-lg {
		display: none;
	}
	.mobile-lg {
		display: block !important;
	}
}
@include max-md {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.rotate-90 {
	transform: rotate(-90deg) !important;
}
.container {
	max-width: 1520px;
	margin: auto;
	padding: 0;
	// padding: 0 133px 0 135px;
	@include max-xxxl {
		max-width: 100%;
		padding: 0 50px;
	}
	@include max-md {
		padding: 0 20px !important;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
	// align-items: center;
}
.owl-nav {
	display: none;
}
.owl-dots {
	display: none;
}
.slick-arrow {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	margin: auto;
}
.slick-prev {
	right: 150px;
}
.slick-next {
	left: 150px;
}
.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50px;
	margin: auto;
	gap: 11px;
	width: max-content;
}
.slick-dots button {
	display: none;
}
.slick-dots li {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #00000026;
	cursor: pointer;
}
.slick-dots li.slick-active {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: linear-gradient(167.1deg, #832fbd -17.59%, #d06852 87.96%);
}
.custom-button {
	background: initial;
	border-radius: 5px;
	color: #fff;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	font-family: "Telegraf", sans-serif;
	font-size: 40px;
	font-weight: 800;
	line-height: 42.4px;
	text-align: center;
	color: #3b3b3b;
	margin-bottom: 50px;
	@include max-xl {
		font-size: 35px;
		line-height: 36px;
		margin-bottom: 35px;
	}
	@include max-md {
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 20px;
	}
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}

// gaps
.gap-10 {
	gap: 10px;
}
.gap-20 {
	gap: 20px;
}
.gap-30 {
	gap: 30px;
}
.gap-35 {
	gap: 35px;
}
.gap-40 {
	gap: 40px;
}
.row-gap-30 {
	row-gap: 30px;
}
@include max-md {
	.gap-max-md-0 {
		gap: 0;
	}
}

@include max-xl {
	.gap-max-xl-20 {
		gap: 20px;
	}
	.gap-max-xl-10 {
		gap: 10px;
	}
}
// margins
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-50 {
	margin-top: 50px;
}
.mr-40 {
	margin-right: 40px;
}
.mr-60 {
	margin-right: 60px;
}
.mr-10 {
	margin-right: 10px;
}
// paddings
.p-20 {
	padding: 20px;
}
.pr-60 {
	padding-right: 60px;
}
@include max-md {
	.mt-max-md-30 {
		margin-top: 30px;
	}
	.mt-max-md-8 {
		margin-top: 8px;
	}
	.mt-max-md-14 {
		margin-top: 14px;
	}
}
@include max-lg {
	.mt-max-lg-30 {
		margin-top: 30px;
	}
	.pr-max-lg-0 {
		padding-right: 0;
	}
}

.btn {
	border-radius: 10px;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
}
.btn-secondary {
	background-color: #ededed;
	color: #000;
}
.btn-dark {
	background: #000;
}
.btn-white {
	background: #fff;
	color: #000;
}
.section {
	padding: 60px 0;
}
.manual-text {
	font-family: "Telegraf", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color: #3b3b3b;
}
@include max-md {
	.manual-text {
		font-size: 16px;
		line-height: 24px;
	}
}

.manual-title {
	font-family: "Telegraf", sans-serif;
	font-size: 26px;
	font-weight: 800;
	line-height: 33.8px;
	color: #3b3b3b;
}
@include max-md {
	.manual-title {
		font-size: 18px;
		line-height: 24px;
	}
}
.bg-f1 {
	background-color: #F1F1F1 !important;
}
.bg-f4 {
	background-color: #F4F4F4;
}
.fs-20 {
	font-size: 20px;
}
.select-wrapper {
	min-width: 140px;
}
.form-input,
.select-wrapper {
	position: relative;
	background-color: #f8f8f8;
	height: 48px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	&:after {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.79708 0.525879L6 4.7288L10.2029 0.525879L11.5 1.82296L6 7.32296L0.5 1.82296L1.79708 0.525879Z' fill='%233B3B3B'/%3E%3C/svg%3E%0A");
		width: 11px;
		height: 7px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto;
	}
}
.form-input,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: #f8f8f8;
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: #3b3b3b;
	padding: 14px;
	width: 100%;
}
select::-ms-expand {
	display: none;
}
.form-group {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	width: 100%;
	& label {
		font-family: "Telegraf", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
		color: #3b3b3b;
	}
}
.form-input {
}
.height-max-content {
	height: max-content;
}
/* для элемента input c type="checkbox" */
.custom-checkbox > input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
	display: block;
	align-items: center;
	user-select: none;
	font-family: "Telegraf", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	color: #3B3B3B;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	margin-bottom: -3px;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
	border-color: #3b3b3b;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
	background-color: #3b3b3b;
	border-color: #3b3b3b;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox > input:focus + span::before {
	// box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
	border-color: #3b3b3b;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
	border-color: #3b3b3b;
	background-color: #3b3b3b;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
	background-color: #e9ecef;
}
