.accountNovaMiles {
    & .manual-title {
        font-family: 'Telegraf', sans-serif;
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        letter-spacing: 0.01em;
        @include max-xlmidle{
            font-size: 25px;
        }
        @include max-lg{
            text-align: center;
        }
        @include max-md{
            font-size: 30px;
        }
        
    }
    &__item {
        padding: 30px;
        background-color: #fafafa;
        border-radius: 20px;
        @include max-lg{
            padding: 30px 20px;
        }
        
    }
    &_welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include max-lg{
            flex-direction: column;
            align-items: center;
        }
        
    }
    &__row {
        margin-top: 20px;
        @include max-xxxl{
            flex-direction: column;
        }
        
    }
    & .map {
        max-width: 697px;
        @include max-xxxl{
            max-width: 100%;
        }
        
    }
    .table-wrapper {
        padding-top: 30px;
        & .manual-title {
            font-family: 'Telegraf', sans-serif;
            font-size: 22px;
            font-weight: 800;
            line-height: 39px;
            text-align: center;
            color: #3b3b3b;
            margin-bottom: 40px;
            @include max-md{
                margin-bottom: 30px;
            }
            
        }
        & td:last-child {
            color: #00B907;
        }
    }
}
